@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	  background: #0d1236;
}
ol,
ul {
    list-style: none;
}
/* Reset a Tags */

a {
    color: #4600;
}
a:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
}
/*----------------------------------------------------*/
/* Layout and General Styles */
/*----------------------------------------------------*/

.wrapper {
    margin: 0 auto;
}
.clear {
    clear: both;
}

.top {
   
}
.top .navbar-default {
    background: rgba(28,28,28,0.9);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 8px 6px -6px #070B25;
    border: 0;
}
.top .navbar-default .navbar-nav>li>a {
	color:#fff;font-family: Lato,Optima,Segoe,'Segoe UI',Candara,Calibri,Arial,sans-serif;
	font-size: 1.5rem;
}
.top .navbar-brand {
	padding: 0 10px;
}
.top .navbar-brand img{width:247px;}
@media (max-width:335px){.top .navbar-brand img{width:230px;}}
.main-content {
    padding: 150px 0;
    display: block;
    background: #070B25 ;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
h3 {
    font-size: 30px;
}
/* Titles Span*/

h3 span {
    color: #43c4df;
}


.block-ads {
	text-align:center;
	float: none;
	
}
.block-ads p {
	color:#fff;
}

/*----------------------------------------------------*/
/* Banner  */
/*----------------------------------------------------*/

.banner-wrapper {
    float: none;padding: 120px 0 50px 0;
}
@media (max-width:991px) and (min-width:768px){.banner-wrapper {
padding: 160px 0 50px 0;
}}
.banner-txt {
   /* text-align: center;*/
}
.banner-top {
    clear: both;
}
.banner-txt h3,
.banner-txt h2 {
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
    padding: 10px 0 0;
	font-size:3em;
}
.banner-txt h2 {
    font-size: 3em;
    padding: 0;
}
.banner-txt p {
    color: #fff;
    line-height: 2;
    font-size: 18px;
    font-weight: 300;
}
.banner-txt p a{
    color: #fff;
}
.banner-txt ul {padding-left:18px;list-style-type:disc;}
.banner-txt ul li{
    color: #fff;
    line-height: 2;
    font-size: 18px;
    font-weight: 300;
}
p.text {
    font-size: 18px;
    padding: 10px 0;
}
p.nopadding {
    padding: 0;
}
.banner-img {
    float: right;
    width: 524px;
}
.bttons {
    display: inline-block;
    margin:11px;
}
.bt {
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #fff;
    display: block;
    opacity: 0.6;
    margin: 8px 0 0;
}
.bt:hover {
    opacity: 1;
    color: #fff;
}
.bt2 {
    margin: 0 22px 0 0;
}


/*----------------------------------------------------*/
/* FAQ Section  */
/*----------------------------------------------------*/

.faq {
    clear: both;
    margin: 100px 0 0;
	padding:50px 0;
    background-color: #1C297D;
}
.faq h3 {
    padding: 0 0 30px;
    text-align: center;
    font-weight: 300;
    color: #fff;
}
.faq .panel-group .panel {
    border-radius: 0;
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.faq .panel-group .panel:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}
.faq .panel-group .panel a:hover,
.faq .panel-group .panel a:focus,
.faq .panel-group .panel a:active {
    color: #333;
}
.faq .panel-group .panel .panel-heading {
    background: 0;
    border: none;
    border-radius: 0;
    padding: 20px;
}
.faq .panel-group .panel .panel-body {
    line-height: 25px;
}

/*----------------------------------------------------*/
/* Go to top     */
/*----------------------------------------------------*/

.cd-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(33, 60, 125) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: rgb(28, 72, 175);
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 30px;
        bottom: 30px;
    }
}
@media(min-width: 480px) and (max-width: 767px) {
    body {
        padding: 0;
    }
    .banner-txt h3 {
        text-align: center;
        padding: 10px 0 30px;
		font-size:2.5em;
    }
    .banner-txt p {
        text-align: center;
    }
   
}
@media(max-width:480px) {
    body {
        padding: 0;
    }
    .banner-txt h3 {
        text-align: center;
        padding: 10px 0 20px;
		font-size: 35px;
    line-height: 38px;
    }
   
}
.nav-top-txt span {
    padding: 2px 6px;
    border-radius: 3px;
}

.nav-top-red span {
    background: #c83c57;
}

#banner-12345{display:none;margin-bottom:30px;padding:20px 10px;border-radius:5px;background:#f4f4f4;color:#444;text-align:center;}
  .main-content {
    padding: 150px 0 0px 0;
    display: block;
    background: #070B25;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.main-content img{
    max-width: 100%;
    height: auto;
}
.banner-12345{
    display: none;
}
.nav-top-txt {
    display: block;
    position: absolute;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 1em;
}
@media screen and (max-width: 1050px){.nav-top-txt span {
    padding: 0px 5px;
    border-radius: 2px;
}}
.nav-top-red span {
    background: #c83c57;
}
.earn span {
    background:#3AAD58;
}
.earn1{margin-left:30px;}
.earn{background:#3AAD58;}
.nav-top-txt span {
    padding: 2px 6px;
    border-radius: 3px;
}
@media (min-width: 1281px) {
 .earn{margin-left:5px;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .earn{margin-left:10px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
 .earn{margin-left:0px;}
}
@media (max-width: 767px) {
.nav-top-txt {
    top:12px;left:15%;
    position: absolute;
}
.earn1{margin-left:0;}
}
@media (max-width: 767px) and (min-width:700px){
.nav-top-txt {
    left:35%;
    position: absolute;
}
}
@media (max-width: 699px) and (min-width:600px){
.nav-top-txt {
    left:32%;
    position: absolute;
}
}
@media (max-width: 599px) and (min-width:531px){
.nav-top-txt {
    left:30%;
    position: absolute;
}
}
@media (max-width: 530px) and (min-width:401px){
.nav-top-txt {
    left:25%;
    position: absolute;
}
}
@media (max-width: 400px) and (min-width:351px){
.nav-top-txt {
    left:20%;
    position: absolute;
}
}
@media (max-width: 350px){
.nav-top-txt {
   left:15%;
    position: absolute;
}
}
.tooltip1 {
  position: relative;
  display: inline-block;
}
.tooltip1 .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
 top:-45px;left:0;
width:200px;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip1:hover .tooltiptext {
  visibility: visible;
}