header{ background: #f3f3f3;border-bottom: 2px solid #e8e8e8;}
@media screen and (max-width: 600px){
 #col {
    padding:0 5px;
}
}
  @media (min-width: 1281px) {
  header .message{top:50px;text-align:left;}
  header{min-height: 200px}
   header h2{text-align:left;font-size:30px;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
 header .message{top:50px;text-align:left;} 
  header{min-height: 200px}
   header h2{text-align:left;font-size:30px;}
}
 @media (min-width: 992px) and (max-width: 1024px) {
header .message{top:50px;text-align:left;} 
 header{min-height: 220px}
  header h2{text-align:left;font-size:30px;}
}

  @media (min-width: 768px) and (max-width: 991px) {
header .message{top:110px;text-align:left;} 
 header{min-height: 260px}
  header h2{text-align:left;font-size:30px;}
}

@media (min-width: 481px) and (max-width: 767px) {
header .message{top:50px;text-align:left;}
 header{min-height: 220px}
  header h2{text-align:left;font-size:25px;}
}

@media (min-width: 320px) and (max-width: 480px) {
header .message{top:50px;text-align:left;}
 header{min-height: 240px}
  header h2{text-align:left;font-size:25px;}
} 
@media (max-width: 319px) {
  header .message{top:20px;text-align:left;}
 header{min-height: 240px}
  header h2{text-align:left;font-size:25px;}}
  header h2 span{margin-top: 14px;color: #7e7d7d;font-weight:600;text-align:left;}