<!--<?php 
  define('WP_USE_THEMES', false);
  require('../blog/wp-load.php');
  query_posts('showposts=2');
?>

<section class="features features3">
  <div class="content" style="position: relative;">
<div class="row">
<div class="small-12 columns"><br>
  <h2 style="margin-bottom:60px;font-weight:400;font-size:40px;">From Our Blog</h2>
<ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3" style="margin-top:0px">

<?php while (have_posts()): the_post(); ?>
 <li style="border: 1px solid #edf4fc;margin-bottom:30px">
<div class="img-hover-zoom">
  <a target="_blank" href="<?php the_permalink(); ?>"><p>
  <?php
    if ( has_post_thumbnail() ) {
      the_post_thumbnail();
    }
  ?>
 </p>
 <div class="content">
 <h4 style="font-size:18px;font-weight:500;"><?php the_title(); ?></h4>

</div>
</a></div>
 </li>

<?php endwhile; ?>
</ul>
</div></div></div><br/><br/></section>-->

<footer>
<div class="row">
<div class="small-12 columns">
<div class="footerlinks">
<div class="small-12 large-3 medium-3 columns border-right">
<h2>About GoogieHost</h2>
<ul>
<li><a href="../about.html">About Us</a></li>
<li><a href="../team.html">Our Team Geeks</a></li>
<li><a href="../contact.html">Contact Us</a></li> 
<li><a href="../disclosure.html">Disclosure</a></li>
<li><a href="../terms.html">Terms of use</a></li>
<li><a href="../privacy.html">Privacy Policy</a></li>
</ul>
</div>

<div class="small-12 large-3 medium-3 columns border-right">
<h2>GoogieHost International</h2>
<ul>
<li><a href="../dmca-notice.php">Generate DMCA Notice</a></li>
<li><a href="https://googiehost.com/es">Español</a></li>
<li><a href="https://googiehost.com/id">Indonesia</a></li>
<li><a href="https://googiehost.com/it">Italiano</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>Free Hosting Clients</h2>
<ul>
<li><a href="../web-hosting-sale-&-coupons.html">Web Hosting Deals</a></li>
<li><a href="../freehostingreview.html">GoogieHost Reviews</a></li><li><a href="https://status.googiehost.com" title="Server Uptime" target="_blank">Server Uptime</a></li>
<li><a href="../best-hosting-for-wordpress.html">Best Hosting For WordPress</a></li>

<li><a href="../seo.html">Search Engine Optimization</a></li>
<li><a href="http://googiehost.com/blog/">Support Blog</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-left">
<h2>Why choose GoogieHost?</h2>
<ul>
<li><a href="../freephphosting.html">Free Php Hosting</a></li> 
<li><a href="../freedomains.html">Free Domain Name</a></li>
<li><a href="../freewebsitebuilder.html">Free Website Builder</a></li>
<li><a href="../freewordpresshosting.html">Free WordPress Hosting</a></li>
<li><a href="../freeautoinstaller.html">Free Website Auto Installer</a></li>
</ul>
<!--End mc_embed_signup-->
</div>

</div>
</div>
</div>
</br>
<div class="footer2"><a href="https://www.facebook.com/GoogieHost" target="_blank"><img src="../images/fb-icon.png" alt="facebook"/></a> <a href="https://www.instagram.com/googiehost/" target="_blank"><img src="../images/instagram.png" alt="instagram"/></a> <a href="https://twitter.com/GoogieHost" target="_blank"><img src="../images/twitter-icon.png" alt="twitter"/></a> </div>

<p class="copyright">© Copyrights 2011-2021 GoogieHost, All Rights Reserved.</p>

<!--GoogieHost Review on Google+-->
<div align="center" >
   <div  style="color:#a4a4a4;">
     Rated <span >4.7</span>/5 based on <span>832 </span>reviews at <a href="https://www.google.co.in/search?q=googiehost&oq=googiehost&aqs=chrome..69i57j69i60l3j69i61.2096j0j1" target="_blank" style="color:#a4a4a4;">Google</a> </div>
</div>

</footer>
<!--  END OF FOOTER  -->

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--<style>           
.write{
color:white;padding:6px 20px;font-family: 'arial';font-size:18px;text-align: center;border-radius: 5px;text-decoration:none;border-radius: 5px;background-color:#fc5155;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.06);
}
.write:hover{text-decoration:none;color:white;}
.write:hover{text-decoration:none;color:white;}
#bizzbar{     position: fixed;padding:5px 5px;
bottom: 0;left: 0;
  right: 0; background:#005C97; width:100%;   color:white;   overflow:hidden;   z-index:1000;  font-family:Georgia;  font-size:18px;  line-height:30px;  position:fixed;  /* box-shadow:0 1px 5px rgba(0,0,0,.7) */ }
#close {
float:right;display:inline-block;padding:5px 2px;font-size:20px; 
}
#close:hover {
float:right;display:inline-block;color:white;
}
.bizztext{font-family:arial;margin-top:10px;margin-bottom:0px;font-size:18px;text-align:center;}
@media screen and (max-width:600px){
  .bizztext{font-family:arial;margin-top:0px;margin-bottom:0px;font-size:14px;text-align:center;}

}
 </style>

<div id="bizzbar" class="bizzbar1" style="opacity:0.9;" >
   
    <div class="container">
    
      <div class="row">
      
       <div class="columns large-8 medium-6 small-12"> <p class="bizztext">Pure SSD Hosting with Nginx, CloudFlare, Free SSL and Domain</p></div>
        <div class="columns large-3 medium-5 small-11"><center><p><a class="write" style="position: relative;
    top: 10px;"  href="https://www.youstable.com/lp/googiehost">STARTING AT $0.01</a></p></center></div>
        <div class="columns large-1 medium-1 small-1"><span id="close" style="font-family:arial">X</span></div>
      </div>
    </div>

    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#close').on('click', function(e) { 
        $('#bizzbar').remove(); 
    });
});</script>-->

   
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/vendor/hoverIntent.js"></script>
    <script src="../js/vendor/superfish.min.js"></script>
    <script src="../js/vendor/morphext.min.js"></script>
    <script src="../js/vendor/wow.min.js"></script>
    <script src="../js/vendor/jquery.slicknav.min.js"></script>
    <script src="../js/vendor/waypoints.min.js"></script>
    <script src="../js/vendor/jquery.animateNumber.min.js"></script>
    <script src="../js/vendor/owl.carousel.min.js"></script>
    <script src="../js/custom.js"></script>


@media screen and (max-width: 992px) and (min-width:576px){
  .logo,.main-header {
    position: relative!important;
}
.logo {
    width: auto;
}
}