 
 h1, h2, h3, h4, h5, h6 {
    font-weight:600; }
.reading{
    float: left;
    color: #fff;
    padding: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
    background:#005C97;
}

.back{text-decoration:none;color:#005C97;font-family:arial;font-weight:510;display:inline-block;float:right}
@media screen and (max-width:600px){
  .breadcrumb1{float:left;}
  .back{float:left;}
}
@media only screen and (max-width: 767px){.breadcrumb1 {
    padding: 10px 0;
}}

@media only screen and (max-width: 991px){.breadcrumb1 {
    font-size: 13px;
}}
@media only screen and (max-width: 767px){.breadcrumb1 li {
    display: block;
    padding: 5px 30px;
}}

.breadcrumb1 li {
    padding: 13px 4px;
    position: relative;
}
.breadcrumb1>li {
    display: inline-block;color: #777;font-size:16px;font-weight:600;
}
.breadcrumb1 {
    margin: 0;float:left;
    border: 0;
    padding: 0;
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 18px;
    overflow: hidden;
    background-color: transparent;
}
  .kb-block h1.heading1 {
    padding: 16px 34px;
}
.news-block h1.heading1 {
    margin: 0;
    color: #fff;
    position: relative;
    background: #666;
    font-size:18px;font-weight:600;
    
}
@media only screen and (max-width: 767px){
  .news-block h1.heading1 {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 15px 15px 60px;
}
}
.article1{padding: 36px 40px 40px;
    background: #fff;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    margin-bottom: 30px;}
    @media only screen and (max-width: 600px){
      .article1{padding: 36px 20px 40px;}
    }

    .button1{border-radius: 5px;align-items: center;justify-content: center;color: #fff;background:#3AAD58;padding: 10px 25px;font-size: 18px;font-weight: 700;}
 @media screen and (max-width:600px){
.button1{text-align:center; margin-top:10px;font-size: 18px;}
#sharing-wrapper {
margin-top: 40px;padding-top: 25px;border-top: 2px solid #e8e8e8;font-size:20px;line-height:40px;
}}
article h2{margin-bottom:30px;}
article h4{margin-top:30px;}
#sharing-wrapper {
margin-top: 40px;padding-top: 45px;border-top: 2px solid #e8e8e8;font-size:20px;
}
 blockquote{ border-left: 5px solid #ddd;}
 .causes{font-size:17px;}
 .note {margin-top:30px;margin-bottom: 20px;color: #fff;padding: 12px 8px!important;color: #fff;background: #333;border-left: 50px solid #008cba;border-left: 50px solid #008cba;background: #333!important;}
 a:hover{text-decoration:none;}
header{ background: #f3f3f3;border-bottom: 2px solid #e8e8e8;}
@media screen and (max-width: 600px){
 #col {
    padding:0 5px;
}
}
  @media (min-width: 1281px) {
  header .message{top:50px;text-align:left;}
  header{min-height: 200px}
   header h2{text-align:left;font-size:30px;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
 header .message{top:50px;text-align:left;} 
  header{min-height: 200px}
   header h2{text-align:left;font-size:30px;}
}
 @media (min-width: 992px) and (max-width: 1024px) {
header .message{top:50px;text-align:left;} 
 header{min-height: 220px}
  header h2{text-align:left;font-size:30px;}
}

  @media (min-width: 768px) and (max-width: 991px) {
header .message{top:110px;text-align:left;} 
 header{min-height: 260px}
  header h2{text-align:left;font-size:30px;}
}

@media (min-width: 481px) and (max-width: 767px) {
header .message{top:50px;text-align:left;}
 header{min-height: 220px}
  header h2{text-align:left;font-size:25px;}
}

@media (min-width: 320px) and (max-width: 480px) {
header .message{top:50px;text-align:left;}
 header{min-height: 240px}
  header h2{text-align:left;font-size:25px;}
} 
@media (max-width: 319px) {
  header .message{top:20px;text-align:left;}
 header{min-height: 240px}
  header h2{text-align:left;font-size:25px;}}
  header h2 span{margin-top: 14px;color: #7e7d7d;font-weight:600;text-align:left;}
#banner-12345 a, #banner-12346 a, #banner-12347 a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
.breadcrumb1 li a{color: #777;}
.read{float:left;font-size:18px;color: #005C97;margin-top:15px;margin-right:15px;}
.news-block, .margin{margin-top:20px;}
body{background:white;}
 .note {
  margin-top:30px;
    margin-bottom: 20px;
    color: #fff;
    padding: 12px 8px!important;
    color: #fff;
    background: #333;
    border-left: 50px solid #008cba;
    border-left: 50px solid #008cba;
    background: #333!important;
}
.method{font-size:18px;}
.method li.list{list-style-type:none;}
.font16{font-size:16px;}
.coding{font-family:'Courier New', Courier, monospace;margin-bottom:0px;}
.codes{background:#FDF8F7;padding:5px}
.codes p{font-family:'Courier New', Courier, monospace;margin-bottom:0px;font-weight:600;font-size:16px}
table.command tr:nth-of-type(even) {
 background: #f9f9f9;
}