.wrapper.twitter {
    background: #f3582a none repeat scroll 0 0;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    padding: 6px 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase
}

.wrapper.twitter a {
    color: #fff
}

body {
    margin: 0 auto;
    font-family:Montserrat, Helvetica, Arial, sans-serif!important;
    font-size:18px;
}

html {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.welcome {
    float: left;
    padding: 27px 0 0%;
    width: 100%;
    /*text-align: center;*/
    margin: 0;
    background:#f3f3f3;
    background-size: 100% 100%;
}

.welcome h1 {
    font-size: 39px;
    text-align: left;
    text-transform: uppercase;
    color: #333
}

.bold {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    margin-bottom: 25px
}

.wrapper.bread {
    margin-bottom: 0
}

.welcome .learn {
    background: #ff9421;
    margin-top: 0;
    padding: 12px 35px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 3px
}

.order.learn.scnd {
    color: #5d98d4;
    border: 2px solid #5d98d4;
    margin-left: 16px
}

.welcome .learn {
    display: inline-block;
    padding: 12px 35px;
    background: 0 0;
    margin-top: 12px;
    border-radius: 38px;
    font-size: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    border: 2px solid #ff9421;
    color: #ff9421;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.welcome p {
    text-align: left;
    color: #333;
    margin: 0 0 11px;
    float: left;
    font-size: 20px;
    line-height: 25px
}

.welcome ul li::before {
    content: "\f00c";
    color: #4cb149;
    font-family: fontawesome;
    margin-right: 7px;
    position: relative
}

.welcome h3.pr {
    color: #333;
    font-size: 73px;
    text-align: left;
    letter-spacing: 0;
    float: left
}

.welcome sup {
    color: #ffb709;
    font-size: 47px;
    position: relative;
    top: -31px
}

.welcome h3.pr span {
    color: #333;
    font-size: 33px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.welcome h3.pr sub {
    bottom: 0
}

.welcome h3.pr strong {
    font-weight: 400;
    color: #fff;
    font-size: 30px
}

.outer .container {
    padding: 7px 0;
    border-radius: 10px
}

.main-bedge img {
    text-align: center !important;
    display: inline-block !important;
    float: none !important
}

.center-cont {
    text-align: center;
    display: inline-block
}

.wrapper.featre {
    background: 0 0;
    float: left;
    background-position: center top;
    padding: 26px 0 40px
}

.blocks ul li {
    float: left;
    width: 31%;
    margin-left: 15px;
    border-left: 1px solid #efefef;
    padding: 0 11px
}

.inner-f {
    float: left;
    margin: 11px 0 12px
}

.blocks ul li:first-child {
    border: none
}

.inner-f img {
    width: auto !important;
    height: auto !important;
    float: left !important
}

.block-f {
    float: left;
    width: 100%;
    padding: 0 0 24px
}

.block-f h3 {
    float: left;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 17px;
    padding: 0;
    margin: 6px 0 0 13px;
    width: 70%;
    line-height: 21px
}

.imm {
    width: 38px;
    border-radius: 50%;
    margin-bottom: 5px;
    float: left
}

.imm img {
    width: 100% !important;
    height: auto !important;
    position: relative;
    top: 3px
}

.butrow {
    display: inline-block;
    float: left;
    height: auto;
    margin-top: 12px;
    text-align: left;
    width: 100%;
    margin-bottom: 31px;
}

.zero_click .butrow {
    text-align: center
}

.mn-img {
    text-align: center;
    display: inline-block
}

.mn-img img {
    text-align: center;
    display: inline-block;
    float: none !important
}

.wrap.w-ftr {
    background: linear-gradient(90deg, #021048, #1e38a3);
    padding: 5px 0;
    margin-top: 20px
}

.zero_click ul {
    float: left;
    margin: 5px 0 9px;
    padding: 0;
    width: 100%
}

.zero_click li {
    float: left;
    list-style: outside none none;
    margin: 0 2% 14px 0;
    padding: 9px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px
}

.zero_click li h6 {
    font-size: 20px;
    color: #333;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700
}

.more-info.learn {
    display: inline-block;
    padding: 9px 32px;
    color: #fff;
    background: 0 0;
    margin-top: 12px;
    border-radius: 38px;
    font-size: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    border: 2px solid #ff9421;
    color: #ff9421;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.zero_click li {
    float: left;
    list-style: outside none none;
    margin: 0 2% 14px 0;
    padding: 9px 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px
}

.wrapper.zero_click {
    background: #f7f7f7;
    padding: 46px 0
}

.wrapper.cont-d.one {
    padding: 52px 0
}

.cont-d .li {
    width: 100%;
    float: left;
    margin-top: 8%
}

.one .li li {
    padding: 12px 17px 12px 72px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    background: #f8f9fb;
    margin-top: 37px;
    position: relative;
    font-size: 24px
}

.one .li li img {
    width: 58px;
    height: auto;
    margin-right: 12px;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: -20px
}

.green-box {
    padding: 19px 10px 0;
    color: #333;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0
}

.scan img {
    text-align: center;
    width: auto;
    display: inline-block;
    float: right;
    margin-top: 20px
}

.hd.hd_in h2 {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    text-transform: capitalize
}

.hd.hd_in p {
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    float: left;
    width: 100%
}

.hd.hd_in p.sml {
    font-size: 20px;
    text-transform: capitalize
}

.hd.hd_in p.sml2 {
    font-size: 15px;
    text-transform: capitalize
}

.wrapper.proxy {
    background: #f7f7f7;
    padding: 60px 0
}

.wrapper.proxy img {
    width: auto
}

.wrapper.proxy .hd.hd_in h2 {
    text-align: left
}

.wrapper.proxy .hd p {
    text-align: left;
    font-size: 18px;
    text-transform: capitalize
}

.proxy-con strong {
    font-size: 19px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    float: left;
    width: 100%;
    text-transform: uppercase
}

.proxy-con p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 18px
}

.insure h4 {
    font-size: 28px;
    text-align: center;
    margin: 29px 0;
    text-transform: uppercase;
    color: #023f83
}

.li {
    width: 100%;
    float: left;
    margin-right: 10px
}

.wrapper.insure .li li {
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #d5d5d5;
    width: 30%;
    float: left;
    margin-left: 35px;
    text-align: center;
    padding: 40px 0;
    height: 257px;
    border-radius: 21px
}

.insure img {
    width: auto;
    text-align: center;
    display: inline-block;
    height: 65px;
    margin: 0 0 25px
}

.insure h6 {
    text-align: center;
    font-size: 23px;
    margin: 0 0 10px;
    text-transform: uppercase
}

.migration .row {
    margin-bottom: 23px;
    padding-top: 26px
}

.migration h2 {
    font-size: 37px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700
}

.migration p {
    font-size: 18px;
    line-height: 27px
}

.img img {
    width: auto
}

.row.wp {
    text-align: left;
    background: #dae6ff;
    padding: 20px;
    border-radius: 29px
}

.row.wp h2 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.row.wp p {
    text-align: left;
    padding: 30px 50px;
    font-size: 21px;
    line-height: 40px
}

.wp img {
    margin-top: 30px
}

.pricely-pro {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.pricely-pro li.pricely-first-heading,
.pricely-pro li.pricely-inner {
    padding: 0
}

.panel-default>.panel-heading {
    background-color: #b2d9ff;
    border-radius: 0;
    border-right: 1px solid #96c1d4
}

.pricely-label {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto;
    text-transform: uppercase
}

.pricely-chart .panel-heading {
    font-size: 22px;
    margin: 0;
    color: #151515;
    position: relative;
    text-align: center
}

.half .pricely-label {
    font-size: 21px
}

.half .pricely-pro li li.list-group-item {
    border-left-width: 1px;
    border-radius: 0;
    padding: 10px 19px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    min-height: 44px;
    padding: 10px 20px
}

.pricely-professional li.list-group-item .feature-hide {
    display: none
}

.plans .hd.hd_in h2 {
    margin-bottom: 35px
}

.btn1 {
    display: inline-block;
    padding: 0 26px;
    color: #fff;
    background: 0 0;
    margin-top: 0;
    border-radius: 38px;
    font-size: 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    border: 2px solid #ff9421;
    color: #ff9421;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.list-group-item.bttn {
    padding: 7px !important
}

.plans .butrow {
    text-align: center
}

.plans .more-info.learn {
    padding: 9px 68px;
    font-size: 21px
}

.wrapper.faq {
    background: #fff none repeat scroll 0 0;
    padding: 45px 0 0
}

.q-box {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    padding: 20px
}

.q-box .fa {
    color: #ffb163;
    font-size: 38px;
    position: absolute;
    left: -16px;
    top: -15px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%
}

.q-box>p {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 22px
}

.q-box h3 {
    padding: 0;
    margin-top: 0;
    color: #277ac6
}

#non_profit {
    float: left;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

#non_profit .boxex {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0
}

#non_profit .boxex .col-lg-4 {
    border: 1px solid #898888;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0;
    width: 31%
}

#non_profit .boxex a:first-child {
    border-left: none
}

#non_profit .boxex a {
    box-sizing: border-box;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 18px
}

#non_profit .boxex a .fa {
    color: #4a4a4a;
    margin-right: 10px
}

@font-face {
    font-family: poppinsbold;
    src: url(../fonts/poppins-bold.woff2) format('woff2'), url(../fonts/poppins-bold.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    src: url(../fonts/poppins-light.woff2) format('woff2'), url(../fonts/poppins-light.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: poppinsregular;
    src: url(../fonts/poppins-regular.woff2) format('woff2'), url(../fonts/poppins-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

body {
    margin: 0 auto;
    font-family: Montserrat, Helvetica, Arial, sans-serif!important;
    font-weight:bold!important;
}

.outer {
    float: left;
    width: 100%
}

header {
    float: left;
    width: 100%;
    padding: 15px 0;
    background: #034083;
    border-bottom: 4px solid #ffc107;
}

header .container {
    position: relative
}

.logo {
    float: left;
    width: 100%
}

.right_nav {
    float: left;
    width: 100%
}

.top_header {
    float: right;
    width: 100%;
    font-size: 12px
}

.top_header ul {
    float: right;
    margin: 7px 0 15px;
    width: auto
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: inherit;
    font-weight: 400;
    line-height: 1.1;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight:bold;
}

.top_header ul li {
    float: left;
    list-style: outside none none;
    margin-left: 10px;
    text-transform: uppercase
}

.top_header ul li a {
    color: #333;
    font-size: 12px;
    padding: 4px 5px;
    text-decoration: none
}

.top_header ul li a:hover {
    background: #119ee7 none repeat scroll 0 0
}

.menu-right {
    float: right
}

nav {
    background: 0 0 !important
}

nav .container {
    background: #3e3d3df0;
    border-radius: 10px 10px 0 0
}

.faico {
    float: right;
    margin-top: 7px;
    width: auto
}

.faico li {
    display: inline-block;
    line-height: normal;
    margin: 0 0 0 5px;
    padding: 0
}

.faico a {
    border-radius: 2px;
    display: inline-block;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0;
    color: inherit
}

.faico a i {
    color: #fff;
    line-height: 30px
}

.faicon-facebook:hover {
    background-color: #3b5998
}

.faicon-twitter:hover {
    background-color: #00acee
}

#faicon-google-plus:hover {
    background: #d00
}

p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

a:hover,
a:focus {
    text-decoration: none
}

ul {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    float: none;
    margin: 0;
    display: inline-block;
    float: none;
    text-transform: uppercase;
    margin: 12px 0 0;
    text-align: center
}

.caret {
    margin-top: -5px
}

.navbar-collapse.collapse {
    float: left;
    text-align: right;
    width: 100%
}

.navbar-nav>li>a {
    color: #fff !important;
    border-left: none;
    font-size: 16px;
    padding-bottom: 6px !important;
    padding-top: 6px !important
}

.navbar-static-top {
    border-width: 0;
    z-index: 1000
}

.navbar-nav>li:first-child a {
    border: none
}

.nav>li>a {
    display: block;
    padding: 10px 9px;
    position: relative
}

.navbar {
    min-height: auto !important;
    float: left;
   font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    position: relative;
    width: 100%
}

.log {
    border: 1px solid #efefef;
    margin-left: 20px
}

h1 {
    color: #333;
    float: left;
    font-size: 36px;
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.blue {
    color: #2088eb
}

.wrapper {
    float: left;
    padding: 40px 0 20px;
    width: 100%
}

.support_m {
    background: transparent url(../images/support.jpg) repeat scroll left top;
    display: inline-block;
    text-align: center
}

.support_m h6 {
    color: #fff;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-style: italic;
    text-transform: none
}

.support_m {
    background: transparent url(../images/support.jpg) repeat scroll left top;
    display: inline-block;
    text-align: center;
    padding: 40px 0 20px;
    width: 100%
}

h1.orange {
    color: #f26c31 !important;
    font-size: 48px !important;
    font-weight: 700;
    font-style: italic
}

.orange {
    color: #f26c31 !important
}

.support_m h1 {
    color: #fff;
    font-size: 42px
}

.wrapper.bread {
    padding: 0;
    margin-bottom: 40px
}

.bread .container {
    background: #e37500c4 none repeat scroll 0 0;
    padding: 9px 0;
    padding: 7px 12px;
    border-radius: 0 0 10px 10px
}

.breadcrumbs_ulist {
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto
}

.breadcrumbs_ulist li {
    color: #fff;
    display: inline;
    float: left;
    font-size: 12px;
    height: auto;
    list-style: outside none none;
    margin: 0;
    padding: 0 10px 0 0;
    width: auto
}

.breadcrumbs_ulist li a {
    color: #fff;
    float: left;
    font-size: 12px;
    height: auto;
    width: auto
}

.bread_crumbs_sep {
    background-image: url(../images/bread_crumbs.png);
    background-position: left top;
    background-repeat: no-repeat;
    float: right;
    height: 9px;
    margin: 4px 0 0 8px;
    width: 10px
}

.primarynav {
    display: block;
    float: right;
    font-size: 12px;
    width: auto
}

.primarynav ul {
    float: right;
    margin: 0;
    width: auto
}

.primarynav ul li {
    float: left;
    list-style: outside none none;
    margin-left: 10px;
    text-transform: uppercase
}

.primarynav ul li a {
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    text-decoration: none
}

footer {
    background: transparent none repeat scroll 0 0;
    border-top: medium;
    color: #ccc;
    float: left;
    padding: 30px 0 0;
    width: 100%
}

.one_quarter.first {
    background: #e2e2e2 none repeat scroll 0 0;
    padding: 11px;
    text-align: center
}

.one_quarter {
    float: left;
    width: 100%;
    float: left;
    width: 100%
}

.one_quarter.first>img {
    height: auto;
    margin-bottom: 10px;
    width: 100%
}

.btmspace-15 {
    color: #555;
    float: left;
    font-size: 21px;
    text-transform: uppercase;
    width: 100%
}

.btmspace-15 h4 {
    color: #236cb1;
    font-size: 24px;
    font-style: italic
}

.title {
    color: #333;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0 0 8px;
    text-transform: uppercase
}

.linklist li a {
    color: #333;
    font-size: 13px
}

.linklist li {
    margin-bottom: 5px
}

.nospace {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.copyright {
    background-color: transparent;
    border-top: medium;
    float: left;
    margin-top: 0;
    padding: 0;
    width: 100%
}



.visa {
    float: left;
    width: 100%
}

.visa img {
    width: 100%
}

.center_foot {
    display: inline-block;
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 100%
}

.center_foot>a:first-child {
    border-left: medium
}

.center_foot>a {
    border-left: 1px solid;
    color: #ccc;
    font-size: 14px;
    line-height: 12px;
    padding: 0 10px
}

.fl_right {
    color: #ccc;
    float: right;
    font-size: 14px;
    margin-top: 7px
}

p.big {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
    float: left;
    width: 100%
}

.yellow {
    color: #fbca08
}

.drop-m {}

.drop {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 980px;
    margin: -1px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #2d2d2d;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 0 5px 6px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.mga-drop ul.std-dropdown {
    display: inline-block;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 100%
}

.mga-drop ul.std-dropdown li {
    width: 22.6%;
    margin: 10px;
    text-align: center;
    float: left
}

.mga-drop {
    padding: 10px 0
}

.mga-drop ul.std-dropdown li a::after {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.mga-drop ul.std-dropdown li a::before {
    z-index: 0;
    position: absolute;
    content: "";
    opacity: 0;
    top: 0;
    left: 0;
    width: 98.2%;
    height: 98%;
    border: 2px solid #c69c6d;
    border-radius: 3px;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.mga-drop ul.std-dropdown li a {
    position: relative;
    width: 100%;
    padding: 20px 5px 0;
    border-radius: 3px;
    height: 120px;
    display: inline-block;
    background: #fff;
    color: #f56332;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1);
    border: 2px solid #fff
}

.drop-m:hover,
.drop-m:active,
.drop-m:focus {
    background-color: #2d2d2d
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #2d2d2d
}

.mga-drop ul.std-dropdown li a:hover {
    background: #f6f4f4;
    border: 2px solid #fdbc3f
}

.mga-drop ul.std-dropdown li a .icon-size {
    height: auto;
    display: inline-block;
    align-items: center;
    margin: 0 auto 5px;
    text-align: center
}

.mga-drop ul.std-dropdown li a .icon-size img {
    width: auto;
    height: auto;
    text-align: center
}

.other-services {
    position: relative;
    width: 100%;
    min-height: auto !important;
    padding: 10px 5px 0;
    height: 120px;
    border-radius: 3px;
    display: inline-block;
    background: #fff;
    color: #f56332;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.other-services .fa {
    font-size: 14px;
    margin-right: 4px;
    color: #fdbe47
}

.other-services a {
    border: 0;
    background: 0 0 !important;
    padding: 4px 0 4px 10px !important;
    box-shadow: none !important;
    float: left;
    width: 100% !important;
    height: auto !important;
    font-size: 14px !important;
    margin: 0 !important;
    line-height: 12px;
    text-align: left;
    color: #096fba !important
}

.other-services h4 {
    text-align: left;
    padding: 0 0 0 10px !important;
    line-height: 1 !important;
    margin: 0 0 4px !important;
    font-size: 15px
}

.mga-drop ul.std-dropdown li a h4,
.other-services h4 {
    line-height: 1.2;
    color: #404141;
    text-transform: uppercase;
    font-size: 15px
}

.mga-drop ul.std-dropdown li a p {
    margin: 0 0 15px;
    color: #818181
}

.drop-m:hover .drop {
    display: block;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.list-other h4 {
    color: #fff !important;
    float: left;
    font-size: 14px;
    margin: 0 16px;
    line-height: 20px
}

.list-other a {
    color: #389dff;
    float: left;
    margin: 0 5px
}

.list-other a i {
    margin-right: 5px;
    color: #fff
}

.list-other {
    float: left;
    width: 100%;
    margin: 10px 0 0
}

@media only screen and (min-width:1024px) and (max-width:1980px) {
    .drop.row.fst {
        left: -250px
    }
    .drop.row.mid {
        left: -400px
    }
    .drop.row.last {
        left: -515px
    }
    .drop.row.last1 {
        left: -680px
    }
}