/*p{
  text-align: justify!important;
}*/
s{
  color: red;
    font-size: 14px;

}
#special{
  text-transform: capitalize!important;
  font-weight: bold!important;
  padding: 20px!important;
}
th,td{
  font-size:18px!important;
  padding: 10px 10px!important;
  border-right: 1px solid #acaaaa8f!important;
  border-bottom: 1px solid #acaaaa8f!important;
  text-align: center!important;
}
thead{
   font-size: 17px!important;
   background:#E3393A!important;
   text-align: center!important;
}
#button{
  background:    #ff9900;
border:        1px solid #556699;

box-shadow:    0 1px #444444;
padding:       0px 10px;
color:         #ffffff;
display:       inline-block;
font-weight: bold;
text-align:    center;


}
#button:hover{
  background: blue!important;
}
.note{
  margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    padding: 19px 8px !important;
    color: #fff;
    background: #333333;
    font-size: 22px;
    border-left: 20px solid #E3393A;
    background: #333333 !important;
    border-right: 20px solid #E3393A;
    text-transform: uppercase;
}
}
  @media only screen and (max-width: 800px) {
  #unseen table td:nth-child(2), 
  #unseen table th:nth-child(2) {display: none;}
}
 
@media only screen and (max-width: 640px) {
  #unseen table td:nth-child(4),
  #unseen table th:nth-child(4),
  #unseen table td:nth-child(7),
  #unseen table th:nth-child(7),
  #unseen table td:nth-child(8),
  #unseen table th:nth-child(8){display: none;}

  #special{
  text-transform: capitalize!important;
  font-weight: bold!important;
  padding: 4px!important;
  font-size: 15px!important;
}
th,td{
  font-size:18px!important;
  padding: 10px 10px!important;
  
  /*text-align: center!important;*/
}
}

@media (max-width: 500px){
  .note{
    font-size: 15px;
  }
  th{
   font-size: 17px!important;
   }
   #special{
  text-transform: capitalize;
  font-weight: bold;
  padding: 4px;
  font-size: 15px;
}
th,td{
  font-size:18px!important;
  padding: 10px 10px!important;
  
  /*text-align: center!important;*/
}
}
@media (max-width:320px){
  #button {
padding: 1px!important;
}

   }
   @media (min-width: 320px){
    #special{
  text-transform: capitalize;
  font-weight: bold;
  padding: 4px;
  font-size: 15px;
}
th,td{
  font-size:18px!important;
  padding: 10px 10px!important;
  
  /*text-align: center!important;*/
}
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .wsp-star-block.vendor-medium{
    width: 104px!important;
    height: 20px!important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .wsp-star-block.vendor-medium{
    width: 104px!important;
    height: 20px!important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .wsp-star-block.vendor-medium{
    width: 104px!important;
    height: 20px!important;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}

/*<span style="font-size: 12px;
    background: #fb3338;
    padding: 5px 5px;
    color: white;
    border-radius: 2px;
    animation: blinker 1s step-end infinite;">Coming Soon</span></td><style>@keyframes blinker {
  50% {
    opacity: 0;
  }

}</style>*/