@font-face {
font-family:"proxima-nova";
src:url("fonts/700.woff2") format("woff2");
font-display:swap;font-style:normal;font-weight:700;
}
@font-face {
font-family:"proxima-nova";
src:url("fonts/700i.woff2") format("woff2");
font-display:swap;font-style:italic;font-weight:700;
}
@font-face {
font-family:"proxima-nova";
src:url("fonts/400.woff2") format("woff2");
font-display:swap;font-style:normal;font-weight:400;
}
@font-face {
font-family:"proxima-nova";
src:url("fonts/400i.woff2") format("woff2");
font-display:swap;font-style:italic;font-weight:400;
}
@font-face {
font-family:"proxima-nova";
src:url("fonts/800.woff2") format("woff2");
font-display:swap;font-style:normal;font-weight:800;
}
.dark{background:#1b2733;}
.white-bg{background: #fff}
.white-text{color:#fff;}
.footer{background:#1b2733}
.header, #footer, .more-link.button, input[type=submit], a.page-numbers, .affiliate_widget_container span a, .heroblock{
	/* 	width:100%; */
	color:#fff!important;
	background: #11253c;
    background: -moz-linear-gradient(90deg,#11253c 0%, #33215d 69%);
    background: -webkit-linear-gradient(90deg,#11253c 0%, #33215d 69%);
    background: linear-gradient(90deg,#11253c 0%, #33215d 69%)!important;
}
.card h2{
font-size:20px; 
padding: 15px 10px;
background:#1d2772;
color:#fff;
text-align:center;
border-radius:10px 10px 0 0;
}

.card, .card-x {
	border:2px solid #ddd;
	border-radius:10px
}
.card p{
	padding:17px;
}
.card .button.button-arrow{
	margin:10px auto 20px auto;
	width:60%;
	display: block;
}
.googie-table-block{
    border-radius: 10px
}
.footable.table,.footable.table *{-webkit-box-sizing:border-box;box-sizing:border-box}.footable.table th{text-align:left}.footable.table{width:100%;max-width:100%;margin-bottom:20px}.footable.table tbody tr td,.footable.table tr th{word-break:keep-all}.footable.table>colgroup+thead>tr:first-child>td,.footable.table>colgroup+thead>tr:first-child>th,.footable.table>thead:first-child>tr:first-child>td,.footable.table>thead:first-child>tr:first-child>th{border-top:0}.footable.table>tbody>tr>td,.footable.table>tbody>tr>th,.footable.table>thead>tr>td,.footable.table>thead>tr>th{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid transparent}.footable.table>thead>tr>td,.footable.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #ddd}.footable .label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}table.footable{position:relative;width:100%;border-spacing:0;border-collapse:collapse}@-webkit-keyframes fooicon-spin-r{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fooicon-spin-r{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.foo-table{table-layout:auto}.foo-table.footable.table>thead>tr>th{padding:.92857143em .78571429em}.foo-table tbody tr td,.foo-table tbody tr th,.foo-table tbody tr:nth-child(2n) td,.foo-table tbody tr:nth-child(2n) th,.foo-table tbody tr:nth-child(odd) td,.foo-table tbody tr:nth-child(odd) th{background-color:transparent}@media (min-width:992px) and (max-width:1199px){table.ninja_footable col.md,table.ninja_footable>thead>tr>th.md{display:none}}@media (min-width:1200px){table.ninja_footable col.lg,table.ninja_footable>thead>tr>th.lg{display:none}}.ninja_footable tbody,.ninja_footable td,.ninja_footable th,.ninja_footable.table{border:unset}

.googie-table-block .md-icon-ok::before, .googie-table-block .md-icon-cancel::before {
    width: 37.5px!important;
    height: 37.5px!important;
    color: #fff;
    font-size: 15px;
    line-height: 2.5;
    border-radius: 100px;
}
.googie-table-block .md-icon-cancel::before{
    background:#c0392b;
}
.googie-table-block .md-icon-ok::before{
    background:#208000;
}
.googie-table-block, .googie-table-block .footable-header td{
    text-align:center!important
}

.ninja_clmn_nm_features {
    text-align:left;
    line-height:2;
    padding:20px!important;
    font-weight:600;
}

td.ninja_column_0.ninja_clmn_nm_features.footable-first-visible {
    background:#f1f0e2;
    border:1px solid #ccc
}
.googie-table-block td, .googie-table-block th{
    border:1px solid #ccc
}
.googie-table-block th{
    background:#f1f0e2;
}

th.ninja_column_1.ninja_clmn_nm_googie_host {
    background:#298b09;
    color:#fff;
    margin-top:-10px
}
th.ninja_column_1.ninja_clmn_nm_googie_host:before{
    content:'The Best Free Hosting';
    display:block;
    position:absolute;
    top:-44px;
    margin-left:-13px;
/*     left:0; */
    text-align:center;
    background:#206808;
    padding:10px 20px;
    border-radius:10px 10px 0 0;
/*     width:300px */
}
.the-features img{
    /*background: #1b2733;*/
    padding: 20px 10px;
    border-radius: 10px 10px 0 0;
}
.styled, .ez-toc-list-level-1 {
    counter-reset: rowNumber;
    padding: 10px;
}
ol.styled li{
    list-style: none;
}
ol.styled li:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    left: -20px;
    margin-right: 10px;
    content: counter(rowNumber);
    counter-increment: rowNumber;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1;
    padding: 8px 0;
    background: #5ba802;
    border-radius: 100%;
}
ol.styled.large li:before {
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 800;
    padding: 15px 0;
}
.megamenu ul.sub-menu {
    width: 70vw;
    padding: 30px;
    border-radius: 10px;
    /* margin-top: 20px; */
}
/*Table*/
.home-table img {
    max-width: 300px;
}

.home-table a {
    border: 0;
}

.home-table thead th {
    background: #fff!important;
    color: #333;
    text-align: center;
}
.home-table{
    background:#fff;
        color:#333;
    vertical-align:middle;
}
.home-table td{
    vertical-align:middle!important
}
.has-border{
    border:1px solid #ccc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #0a5dd5;
    font-size: 90%
}

table figcaption {
    color: #000;
    padding: 1em 0;
    text-align: center
}

table td, table th {
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}
table td{
    border:1px solid #0a5dd5;
}

table thead {
    vertical-align: middle;
    background: #0a5dd5;
    color:#fff;
}
table thead th:not(:last-child){
    border-right:1px solid #fff!important;
}
table tr:nth-child(2n-1) td {
    background-color: #f9f9f9
}

table tbody>tr:last-child>td {
    border-bottom-width: 0
}