

<!--<?php 
  //define('WP_USE_THEMES', false);
  //require('blog/wp-load.php');
  //query_posts('showposts=2');

?>

<section class="features features3">
  <div class="content" style="position: relative;">
<div class="row">
<div class="small-12 columns"><br>
  <h2 style="margin-bottom:60px;font-weight:400;font-size:40px;">From Our Blog</h2>
<ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3" style="margin-top:0px">

<?php while (have_posts()): the_post(); ?>
 <li style="border: 1px solid #edf4fc;margin-bottom:30px">
 <div class="img-hover-zoom">
  <a target="_blank" href="<?php the_permalink(); ?>"><p>
  <?php
    if ( has_post_thumbnail() ) {
      the_post_thumbnail();
    }
  ?>
 </p>
 <div class="content">
 <h4 style="font-size:18px;font-weight:500;"><?php the_title(); ?></h4>

</div>
</a></div>
 </li>

<?php endwhile; ?>
</ul>

</div></div></div><br/><br/></section>-->


<footer>
<div class=row>
<div class="small-12 columns">
<div class=footerlinks>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>About GoogieHost</h2>
<ul>
<li><a href=about.html>About US</a></li>
<li><a href=team.html>Our Team Geeks</a></li>
<li><a href=contact.html title="Contact Us">Contact Us</a></li> 
<li><a href=disclosure.html>Disclosure</a></li>
<li><a href=terms.html>Terms of use</a></li>
<li><a href=privacy.html>Privacy Policy</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>GoogieHost International</h2>
<ul>
<li><a href=dmca-notice.php>Generate DMCA Notice</a></li>
<li><a href="https://googiehost.com/hi">Hindi</a></li>
<li><a href="https://googiehost.com/es">Español</a></li>
<li><a href="https://googiehost.com/id">Indonesia</a></li>
<li><a href="https://googiehost.com/it">Italiano</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>Free Hosting Clients</h2>
<ul>
<li><a href="web-hosting-sale-&-coupons.html">Web Hosting Deals</a></li>
<li><a href="freehostingreview.html">GoogieHost Reviews</a></li>
<li><a href="https://status.googiehost.com" title="Server Uptime" target="_blank">Server Uptime</a></li>
<li><a href="best-hosting-for-wordpress.html">Best Hosting For WordPress</a></li>

<li><a href=seo.html>Search Engine Optimization</a></li>
<li><a href="https://googiehost.com/blog/">Support Blog</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-left">
<h2>Why choose GoogieHost?</h2>
<ul>
<li><a href="freephphosting.html">Free Php Hosting</a></li> 
<li><a href=freedomains.html>Free Domain Name</a></li>
<li><a href=freewebsitebuilder.html>Free Website Builder</a></li>
<li><a href=freewordpresshosting.html>Free WordPress Hosting</a></li>
<li><a href=freeautoinstaller.html>Free Website Auto Installer</a></li>
</ul>
</div>
</div>
</div>
</div>
<br/>

<style>

  footer .footer2{text-align:center;}footer .footer2 a{margin-right:8px;}
  footer .footer2 #navlist {
  position: relative;justify-content: center;
  /*display: flex;*/display:none;
}

footer .footer2 #navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}

footer .footer2 #navlist li, footer .footer2 #navlist a {
  height: 48px;
  display: block;
}

footer .footer2 #home {
  left: 45%;
  width: 48px;
  background: url('images/social-icons.png') 0 0;
}

footer .footer2 #prev {
  left: 49.5%;
  width: 48px;
  background: url(images/social-icons.png) -57px 0;
}

footer .footer2 #next {
  left: 53.5%;
  width: 48px;
  background: url(images/social-icons.png) -110px 0;
}
 @media screen and (max-width:400px){footer .footer2 #home {
  left: 10%;
  width: 48px;
  background: url('images/social-icons.png') 0 0;
}

footer .footer2 #prev {
   left: 63px;
  width: 48px;
  background: url(images/social-icons.png) -57px 0;
}

footer .footer2 #next {
  left: 129px;
  width: 48px;
  background: url(images/social-icons.png) -110px 0;
}}
</style>
<div class="footer2">
 <ul id="navlist">
 <li id="home"><a href="https://www.facebook.com/GoogieHost" target="_blank"></a></li>
  <li id="prev"><a href="https://www.instagram.com/googiehost/" target="_blank"></a></li>
  <li id="next"><a href="https://twitter.com/GoogieHost" target="_blank"></a></li>
</ul><a href="https://www.facebook.com/GoogieHost" target="_blank"><img src="images/fb-icon.png" alt="facebook"></a> <a href="https://www.instagram.com/googiehost/" target="_blank"><img src="images/instagram.png" alt="instagram"></a> <a href="https://twitter.com/GoogieHost" target="_blank"><img src="images/twitter-icon.png" alt="twitter"></a>
 </div>
<p class=copyright>© Copyrights 2011-2021 GoogieHost, All Rights Reserved. </p>
<div align=center>
<div style="color:#a4a4a4;">
Rated <span>4.7</span>/5 based on <span>832 </span>reviews at <a href="https://www.google.co.in/search?q=googiehost&oq=googiehost&aqs=chrome..69i57j69i60l3j69i61.2096j0j1" target=_blank style="color:#a4a4a4;">Google</a> </div>
</div>
</footer>
<a href="#top" id=back-to-top><i class="fa fa-angle-up"></i></a>


<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/vendor/hoverIntent.js"></script>
<script src="js/vendor/superfish.min.js"></script>
<script src="js/vendor/morphext.min.js"></script>
<script src="js/vendor/wow.min.js"></script>
<script src="js/vendor/jquery.slicknav.min.js"></script>
<script src="js/vendor/waypoints.min.js"></script>
<script src="js/vendor/jquery.animateNumber.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
<script type="application/javascript">
var truepushSDK = document.createElement('script');
truepushSDK.setAttribute('src','https://app.truepush.com/sdk/app.js?key=5ca30b01a3b80d10847d4e4f&reload='+new Date().getTime());
document.head.appendChild(truepushSDK);
</script>