 @media screen and (max-width: 1050px){.nav-top-txt {
    display: none;
}}
@media screen and (max-width: 1050px){.nav-top-txt {
    top: 8px;
    font-size: 8px;
}}
.nav-top-txt {
    display: block;
    position: absolute;
    top: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 1em;
}
@media screen and (max-width: 1050px){.nav-top-txt span {
    padding: 0px 5px;
    border-radius: 2px;
}}
.nav-top-red span {
    background: #c83c57;
}
.nav-top-txt span {
    padding: 2px 6px;
    border-radius: 3px;
}
@media (min-width: 1281px) {
 .earn{margin-left:5px;}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .earn{margin-left:10px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
 .earn{margin-left:0px;}
}

.reading{
    float: left;
    color: #fff;
    padding: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
    background:#005C97;
}

.back{text-decoration:none;color:#005C97;font-family:arial;font-weight:510;display:inline-block;float:right}
@media screen and (max-width:600px){
  .breadcrumb1{float:left;}
  .back{float:left;}
}
@media only screen and (max-width: 767px){.breadcrumb1 {
    padding: 10px 0;
}}

@media only screen and (max-width: 991px){.breadcrumb1 {
    font-size: 13px;
}}
@media only screen and (max-width: 767px){.breadcrumb1 li {
    display: block;
    padding: 5px 30px;
}}

.breadcrumb1 li {
    padding: 13px 4px;
    position: relative;
}
.breadcrumb1>li {
    display: inline-block;color: #777;font-size:16px;font-weight:600;
}
.breadcrumb1 {
    margin: 0;float:left;
    border: 0;
    padding: 0;
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    line-height: 18px;
    overflow: hidden;
    background-color: transparent;
}
  .kb-block h2.heading1 {
    padding: 16px 34px;
}
.news-block h2.heading1 {
    margin: 0;
    color: #fff;
    position: relative;
    background: #666;
    font-size:18px;font-weight:600;
    
}
@media only screen and (max-width: 767px){
  .news-block h2.heading1 {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 15px 15px 60px;
}
}
.article1{padding: 36px 40px 40px;
    background: #fff;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.1);
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    margin-bottom: 30px;}
    @media only screen and (max-width: 600px){
      .article1{padding: 36px 20px 40px;}
    }

    .button1{border-radius: 5px;align-items: center;justify-content: center;color: #fff;background:#3AAD58;padding: 10px 25px;font-size: 18px;font-weight: 700;}
 @media screen and (max-width:600px){
.button1{text-align:center; margin-top:10px;font-size: 18px;}
#sharing-wrapper {
margin-top: 40px;padding-top: 25px;border-top: 2px solid #e8e8e8;font-size:20px;line-height:40px;
}}
article h2{margin-bottom:30px;}
article h4{margin-top:30px;}
#sharing-wrapper {
margin-top: 40px;padding-top: 45px;border-top: 2px solid #e8e8e8;font-size:20px;
}
 blockquote{ border-left: 5px solid #ddd;}