/* Table of Contents
/* Table of Contents
   - - - - - - - - -
	1. Global
	2. Standard Forms
	3. Header
	4. Home Page
	5. Inner Pages
	6. Footer
	7. Media Queries
	- - - - - - - - -
*/
 


/* ============
   1 = Global 
   ============ */
body {font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 1.4; color: #5A5A5A; position: relative; -webkit-font-smoothing: antialiased; background:#EAEAEA; margin:0;}
body.login-page {background:url(images/login_page_bg.jpg);}

.row {max-width:1170px;}
iframe {margin: 0 0 40px; border:0; width:100%;}
code { text-shadow: 0 1px white; line-height:1.3;	font-family: Consolas, Monaco, 'Andale Mono', monospace; font-weight:normal; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; background: #F5F2F0;display: block; padding: 12px; margin: 8px 0; color:#303038; border: 0; border-radius:6px;}
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-weight: 700; color: #5A5A5A; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 12px; margin-top: 12px;  }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 34px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
a { color: #b86662; text-decoration: none; line-height: inherit; }
a:hover { color: #37485C; text-decoration: underline;}
p { font-family: inherit; font-weight: normal; line-height: 1.45; margin-bottom: 17px; font-size: 17px;}
hr { border: solid #eff0f4; border-width: 1px 0 0; clear: both; margin: 21px 0; height: 0; }
hr.small { border: double #37485c; border-width: 4px 0 0; clear: both;margin:0 auto; margin-top:30px; margin-bottom:20px; height: 0; max-width:150px; }
.spacing-30 {padding-bottom:30px;}
.spacing-top-50 {padding-bottom:50px;}

/* ==================
   2 = Standard Forms 
   ================== */
form { margin: 0; padding:0;}
.row form .row { margin: 0 -6px; }
.row form .row .column, .row form .row .columns { padding: 0.4px; }
.row form .row.collapse { margin: 0; }
.row form .row.collapse .column, .row form .row.collapse .columns { padding: 0; }
label { color: #4d4d4d; cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
label.right { float: none; text-align: right; }
label.inline { line-height: 32px; margin: 0 0 12px 0; }
.prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 32px; line-height: 31px; }
a.button.prefix, a.button.postfix { padding-left: 0; padding-right: 0; text-align: center; }
span.prefix, span.postfix { background: #f2f2f2; border: 1px solid #e8e8e8ccc; }
.prefix { left: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; overflow: hidden; }
.postfix { right: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { background-color: white; font-family: inherit; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #666; display: block; margin: 0; padding: 6px;  width: 100%; border-radius: 4px }
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize { font-size: 17px; padding: 4px 6px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background: #f6f6f6; border-color: #b3b3b3; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: #ddd; }
textarea { height: auto; }
select { background-color: white; font-family: inherit; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; color: #666; display: block; margin: 0; padding: 6px;  width: 100%; border-radius: 4px  }

/* ==================
   3 = Header 
   ================== */
header {background:#235588  no-repeat bottom center; border-bottom: #fff 2px solid; min-height:550px; position: relative}
header .message {position: absolute; top:125px; left:1%; right:1%; margin:0 auto; text-align: center}
.message-intro {display:table-row;line-height:1.5em;font-size:2em;white-space:nowrap;margin-bottom:2em}
.message-intro p{font-size:inherit;overflow:hidden; display:table-cell;vertical-align:middle;padding-bottom:30px;color:#fff;font-size:22px;font-weight:400; letter-spacing: 2px}
.message-intro span.message-line{display:table-cell;width:50%}
.message-intro span.message-line{padding:0 10px}
.message-intro span.message-line:first-child{padding:0 30px 30px 0}
.message-intro span.message-line:last-child{padding:0 0 30px 30px}
.message-intro span.message-line:after{display:inline-block;width:100%;content:".";font-size:0;color:transparent;height:1px;background:#F7EBDF;vertical-align:middle;position:relative;top:0}
header .message h1 {color:#ffffff; font-size:45px; font-weight:900; margin:8px 0 0; padding:0;}
header .message .button {background:transparent; border:1px solid #f7ebdf; color:#f7ebdf; margin-top:60px; font-weight:700;}
header .message .button:hover {background:#292c31; border-color:#fff; text-decoration: none}
.top {background: #303030; 
z-index:9999;
padding: 0;
width: 100%;
position:fixed;
border-top: #2C2B2B 3px solid;
-webkit-box-shadow: 0 -2px 1px rgba(0,0,0,.1) inset;
-moz-box-shadow: 0 -2px 1px rgba(0,0,0,.1) inset;
box-shadow: 0 -2px 1px rgba(0,0,0,.1) inset;}
.logo {margin:15px 0 12px;}
header h2 {padding:45px 0 25px; font-size:42px; color:#fff; text-align: center; font-weight: 100}
#js-rotating {display: none}


header.alt-1 .message h1, header.alt-2 .message h1, header.alt-4 .message h1 {color: #FFFFFF}

/* Navigation  ---------------------- */
nav.desktop-menu {  padding: 0; float:right; text-align: left; }
.slicknav_menu, .mobile-menu { display:none;  }

/*** Superfish Essential Styles ***/
.sf-menu, .sf-menu * { overflow: visible; margin: 0; padding: 0; list-style: none; z-index: 1000; }
.sf-menu { line-height: 1.0; float: left; margin-bottom: 0; }
.sf-menu ul { z-index: 1000; position: absolute; top: -999em; padding: 0; overflow: visible !important; }
.sf-menu ul li { display: block; width: 100% !important; text-align: left; padding:4px 0; border-bottom: 1px solid #40546a;margin-left:0!important; }
.sf-menu ul li:last-child { border-bottom: 0; -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.sf-menu ul li a {  border:none;  -webkit-border-radius: 0!important;-moz-border-radius:  0!important;border-radius:  0!important;}
.sf-menu ul li:hover, .sf-menu ul li a:hover { background: #40546a !important; }
.sf-menu li { float: left; position: relative; text-decoration:none; text-align: center;padding:26px 0 26px; margin-left:10px; }
.sf-menu li:first-child { margin-left:0; }
.sf-menu a {  display: block; position: relative; font-size:14px; letter-spacing:.07em; text-transform: uppercase; font-weight:400; padding:6px 5px 8px; color:#fff; } 
.sf-menu > li > a {display: block; }
.sf-menu li li a { font-size:11px; color:#fff; padding:7px 10px 5px; }
.sf-menu li a:hover { background: #2F85EA; text-decoration: none; -webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;transition:all .3s; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.sf-menu li li a:hover { border-bottom:0; text-decoration: none}
.sf-menu li.current-menu-item a, .sf-menu li.current-menu-parent a, .sf-menu li.current_page_parent a { background: #2F85EA; color:#fff; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.sf-menu li li.current-menu-item a, .sf-menu li.current-menu-parent li a, .sf-menu li.current-menu-item ul.sub-menu li a { background: #898a8d; color:#fff; }
.sf-menu li li.current-menu-item a:hover, .sf-menu li.current-menu-parent li a:hover, .sf-menu li.current-menu-item ul.sub-menu li a:hover { background: #3ec7cf; color:#fff;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul { left: 0; top: 80px; z-index:999999;  width:175px;  -webkit-animation-duration: .3s;  -webkit-animation-timing-function: ease;  -webkit-animation-fill-mode: both;  -webkit-animation-name: fadeInRight;  -moz-animation-duration: .3s;  -moz-animation-timing-function: ease;  -moz-animation-fill-mode: both;  -moz-animation-name: fadeInRight;  animation-duration: .3s;  animation-timing-function: ease;  animation-fill-mode: both;  animation-name: fadeInRight;}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 175px; top: 0; -webkit-border-radius: 0!important;-moz-border-radius:  0!important;border-radius:  0!important; }
ul.sf-menu li li:hover ul li:last-child, ul.sf-menu li li.sfHover ul li:last-child {-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em; }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 175px; top: 0; -webkit-border-radius: 0!important;-moz-border-radius:  0!important;border-radius:  0!important;}
.sf-menu li:hover { outline: 0; }
.sf-menu li li a:hover { color:#fff !important; -webkit-transition:none !important;-moz-transition:none!important;-o-transition:none!important;-ms-transition:none!important;transition:none!important;}
.sf-menu > li:hover { border:none !important; background: none !important; }
.alt-nav { display:none; }
.sf-menu ul {background:#37485C; -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; }
.sf-menu ul:after {  bottom: 100%;  border: solid transparent;  content: " ";  height: 0;  width: 0;  position: absolute;  pointer-events: none;}
.sf-menu ul:after {  border-color: rgba(127, 140, 141, 0);  border-bottom-color: #37485C;  border-width: 10px;  left: 17%;  margin-left: -10px;}
.sf-menu ul li ul:after {  bottom: 100%;  border: transparent; }
.sf-menu ul li ul:after {  border:0;}


/* ==================
   4 = Home Page 
   ================== */

/* Features */
.features {padding:0px 0;overflow:hidden;}
.features.servers {padding:40px 0 0; background:#fff;}
.features.premium-servers {padding:50px 0; background:#535761;}
.features i {margin-bottom:10px; font-size:55px; color:#235588;}
.features h2 {font-weight:900;text-align: center; margin-bottom: 12px}
.features.premium-servers h2 {color:#d7d7d7;}
.features.premium-servers p {color:#ccc;}
.features p {text-align: center;}
.features ul {margin-top:60px;}
.features ul li {text-align: center; padding:50px 20px 20px; border:1px solid #E0E0E0; border-left:0; border-top:0; min-height:230px;}
.features ul li:nth-child(3n+3) { border-right:0;}
.features ul li:nth-last-child(-n+3) {border-bottom:0;}
.features ul li h3 {margin-bottom:12px; font-size:21px;}


/* features web design */
.features1 {padding:0px 0;overflow:hidden;}
.features1.servers {padding:40px 0 0; background:#fff;}
.features1.premium-servers {padding:50px 0; background:#535761;}
.features1 i {margin-bottom:10px; font-size:55px; color:#235588;}
.features1 h2 {font-weight:900;text-align: center; margin-bottom: 12px}
.features1.premium-servers h2 {color:#d7d7d7;}
.features1.premium-servers p {color:#ccc;}
.features1 p {text-align: center;}
.features1 ul {margin-top:60px;}
.features1 ul li {text-align: center; padding:50px 20px 20px; border:1px solid #235588; border-left:0; border-top:0; min-height:230px;}
.features1 ul li:nth-child(2n+2) { border-right:0;}
.features1 ul li:nth-last-child(-n+2) {border-bottom:0;}
.features1 ul li h3 {margin-bottom:12px; font-size:21px;}

/* features web design */
/* Google Ads */
.google-ads {
overflow: hidden;
}
.google-ads h6 {
text-align: center;
margin: 0;
padding: 0 0 20px 0;
color: #333333;
}
.google-ads .row {

padding: 10px 0 20px 0;
}


.terms-of-usage {padding:50px 0; overflow: hidden }
.terms-of-usage h2 {font-weight:900;text-align: center; margin-bottom: 12px}

.terms-of-usage .title { font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background: #65454c;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; margin-bottom:15px; position: relative; }
.terms-of-usage .title:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(101, 69, 76, 0); border-top-color: #65454c; border-width: 8px; margin-left: -8px; }

/* Pricing Tables - Boxes */
.pricingboxes {overflow: hidden; background: #EAEAEA;}
.pricingboxes h2 {font-weight:900;text-align: center; margin-bottom: 12px}
.pricingboxes p {text-align: center;}
.pricingboxes .title { font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; background: #235588;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; margin-bottom:15px; position: relative; }
.pricingboxes .title:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(101, 69, 76, 0); border-top-color: #235588; border-width: 8px; margin-left: -8px; }
.pricing-table {  border: 0;  margin: 0 0 1.25em 0;padding:0;  }
.pricing-table * {    list-style: none;    line-height: 1; }
.pricing-table .price {  font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; background: #424242; text-align: center;  padding:12px 0 18px;    color: #EAEAEA;    font-weight: 900;    font-size: 15px; }
.pricing-table .price span { background:#424242;   color: #EAEAEA;    font-weight: 900;    font-size: 53px; display: block; padding:10px 0;  ; }
.pricing-table .description { background: #424242; text-align: center; padding:32px 0;    color: #fff;    font-size: 17px;   font-weight: normal;    line-height: 1.4; border-bottom: solid 1px #302F2F;  -webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.pricing-table .bullet-item {    background-color: #424242;    padding: 0.9375em;    text-align: center;    color: #fff;    font-size: 14px;    font-weight: normal;    border-bottom: solid 1px #302F2F; }
.pricing-table .cta-button {  background: #424242;    text-align: center;    padding: 8px 0; -webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
.pricing-table .cta-button p {  padding: 14px 0 8px; }
.pricing-table .cta-button span a {color:#fff; font-size:16px; font-weight:800; background: #3478AA; padding:9px 27px; border-radius: 6px}
.pricing-table .cta-button span a:hover {background: #37485c; text-decoration: none;}

.pricingboxes-comparison {padding:0 0 50px; overflow: hidden; margin: 0 10px; }
.pricingboxes-comparison h2 {font-weight:900;text-align: center; margin-bottom: 12px}
.pricingboxes-comparison p {text-align: center;}

.pricingboxes-comparison .title-alt { font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;  background: #3478AA;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; margin-bottom:15px; position: relative; }
.pricingboxes-comparison .title-alt:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(101, 69, 76, 0); border-top-color: #3478AA; border-width: 8px; margin-left: -8px; }
.pricingboxes-comparison .title-features { font-family: 'Lato', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;  background: #000000;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; margin-bottom:15px; position: relative; }
.pricingboxes-comparison .title-features:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(101, 69, 76, 0); border-top-color: #000000; border-width: 8px; margin-left: -8px; }
.pricing-table.alter .description {border-radius: 0;}
.pricing-table.alter.features .bullet-item {  background-color: #E5E5E5; text-align: left;color: #333; font-size:14px; border-bottom: solid 1px #D7D7D7; }
.pricing-table.alter.features .bullet-item a { color:#666; cursor: pointer;}
.has-tip { border:none!important; padding:0!important; margin:0!important; font-weight: 400!important}
.has-tip:hover { color:#000;}
.pricing-table.alter .bullet-item i { font-size: 12px }
.pricing-table.alter .bullet-item i.fa-check { color:#FFFFFF; }
.pricing-table.alter .bullet-item i.fa-times { color:#FFFFFF; }
.pricing-table.alter .price { padding:14px 0 20px; }
.pricing-table.alter .price span {  font-size: 33px; }
.pricing-table.alter .price span sub {  font-size: 14px; padding-left:2px; font-weight: 400; text-shadow:none; top:0px; vertical-align: baseline;   position: relative;}
.pricing-table.alter .cta-button { background: #262727; padding: 4px 0; border-radius: 0;}
.pricing-table.alter .cta-button p {  padding: 14px 0 2px; }
.pricing-table.alter .cta-button span a {font-size:14px; background: #3478AA; padding:5px 17px; border-radius: 6px}
.pricing-table.alter .cta-button span a:hover {background: #37485c; text-decoration: none;}




/* ==================
   5 = Inner Pages
   ================== */

/* shared hosting - features */
.sharedfeatures-odd {padding:50px 0; overflow:hidden; background:#F8F8F8;}
.sharedfeatures-odd h2, .sharedfeatures-even h2  {font-weight:900;margin-bottom: 12px; font-size:23px;}
.sharedfeatures-odd i {color:#B86662; font-size:100px;}
.sharedfeatures-odd .circle {border-radius: 50%; overflow:hidden; width: 200px;	height: 200px; background:#37485c; padding-top:50px; margin:0 auto; position:relative; z-index:99999; text-align: center; }
.sharedfeatures-even {padding:50px 0; overflow:hidden; background:#fff;}
.sharedfeatures-even i {color:#DBDBDB; font-size:100px; }
.sharedfeatures-even .circle {border-radius: 50%; overflow:hidden; width: 200px;	height: 200px; background:#B86662; padding-top:50px; margin:0 auto; position:relative; z-index:99999; text-align: center; }

/* FREEHOSTING ORDER - GOOGIEHOST */
.freehosting-order {padding: 50px 0 70px; overflow: hidden; margin: 0 10px;}
.freehosting-order h2 {font-weight:900;text-align: center; margin-bottom: 12px}
.freehosting-order h3 {font-weight:900;font-size:22px;}
.freehosting-order p {text-align: center;}
.freehosting-order img {margin:0 auto;}
.freehosting-order .order-step { height: 40px;    margin: 25px 0 20px;}
.freehosting-order .order-step .order-circle {    position: relative;    text-align: center;}
.freehosting-order .order-step .order-circle .line {    position: absolute;    width: 100%;    top: 50%;    margin-top: -1px;    height: 3px;    background: #EDEDED;    z-index: 1;}
.freehosting-order .order-step .order-circle .line.left-side {    width: 50%;    right: 0;}
.freehosting-order .order-step .order-circle .line.right-side {    width: 50%;    left: 0;}
.freehosting-order .order-step .order-circle span {    position: relative;    display: inline-block;    vertical-align: middle;    width: 40px;    height: 40px;    line-height: 40px;    text-align: center;    -webkit-border-radius: 1000px;    -moz-border-radius: 1000px;    -ms-border-radius: 1000px;    -o-border-radius: 1000px;    border-radius: 1000px;    color: #fff;    font-weight:900;    background:#000000;    z-index: 10;}
.freehosting-order .order-step .order-circle span.left-side {    margin-right: 15px;}
.freehosting-order .order-step .order-circle span.right-side {    margin-left: 15px;}

/* dedicated servers */
table.responsive {min-width:100%; margin-top:45px; overflow:hidden; border:0!important; box-shadow: 1px 1px rgb(75, 78, 87), 2px 2px rgb(75, 78, 87), 3px 3px rgb(75, 78, 87), 4px 4px rgb(75, 78, 87), 5px 5px rgb(75, 78, 87), 6px 6px rgb(75, 78, 87), 7px 7px rgb(75, 78, 88), 8px 8px rgb(76, 79, 88), 9px 9px rgb(76, 79, 88), 10px 10px rgb(76, 79, 88), 11px 11px rgb(76, 79, 88), 12px 12px rgb(76, 79, 88), 13px 13px rgb(76, 79, 89), 14px 14px rgb(76, 79, 89), 15px 15px rgb(76, 80, 89), 16px 16px rgb(77, 80, 89), 17px 17px rgb(77, 80, 89), 18px 18px rgb(77, 80, 89), 19px 19px rgb(77, 80, 89), 20px 20px rgb(77, 80, 90), 21px 21px rgb(77, 80, 90), 22px 22px rgb(77, 81, 90), 23px 23px rgb(77, 81, 90), 24px 24px rgb(78, 81, 90), 25px 25px rgb(78, 81, 90), 26px 26px rgb(78, 81, 91), 27px 27px rgb(78, 81, 91), 28px 28px rgb(78, 81, 91), 29px 29px rgb(78, 82, 91), 30px 30px rgb(78, 82, 91), 31px 31px rgb(78, 82, 91), 32px 32px rgb(79, 82, 92), 33px 33px rgb(79, 82, 92), 34px 34px rgb(79, 82, 92), 35px 35px rgb(79, 82, 92), 36px 36px rgb(79, 83, 92), 37px 37px rgb(79, 83, 92), 38px 38px rgb(79, 83, 92), 39px 39px rgb(79, 83, 93), 40px 40px rgb(80, 83, 93), 41px 41px rgb(80, 83, 93), 42px 42px rgb(80, 83, 93), 43px 43px rgb(80, 84, 93), 44px 44px rgb(80, 84, 93), 45px 45px rgb(80, 84, 94), 46px 46px rgb(80, 84, 94), 47px 47px rgb(80, 84, 94), 48px 48px rgb(81, 84, 94), 49px 49px rgb(81, 84, 94), 50px 50px rgb(81, 85, 94), 51px 51px rgb(81, 85, 94), 52px 52px rgb(81, 85, 95), 53px 53px rgb(81, 85, 95), 54px 54px rgb(81, 85, 95), 55px 55px rgb(81, 85, 95), 56px 56px rgb(82, 85, 95), 57px 57px rgb(82, 86, 95), 58px 58px rgb(82, 86, 96), 59px 59px rgb(82, 86, 96), 60px 60px rgb(82, 86, 96), 61px 61px rgb(82, 86, 96), 62px 62px rgb(82, 86, 96), 63px 63px rgb(82, 86, 96), 64px 64px rgb(83, 87, 97);}
.flat-table {border-collapse:collapse;	font-family: 'Lato', Calibri, Arial, sans-serif;}
.flat-table th, .flat-table td {box-shadow: inset 0 -1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.05);	color:#fff!important;}
.flat-table th {font-weight: normal;		-webkit-font-smoothing: antialiased;		padding: 0.7em 1em 0.7em 1.15em;		color: rgba(0,0,0,0.45);		text-shadow: 0 0 1px rgba(0,0,0,0.1);		font-size: 16px;	}
.flat-table td {color: #fff;		padding: 0.7em 1em 0.7em 1.15em;		text-shadow: 0 0 1px rgba(255,255,255,0.1);		font-size: 16px;	}
table tr.even, table tr.alt, table tr:nth-of-type(even) {    background: #353A45!important; }
.flat-table-1 {	background: #3E434C;}
.flat-table th {background: #2F333E;color:#fff!important; }
.flat-table td span {background:#B86662; padding:3px 7px 5px; border-radius:5px;}
.flat-table td span:hover {background:#FD8875;}
.flat-table td span a{color:#fff; font-size: 12px }
.flat-table td span a:hover{text-decoration: none}
.tablesaw-stack tbody tr {border-bottom:0!important;}

.about {padding:50px 0; overflow:hidden;}
.about h2 {text-align: center; font-weight: 900}
.about p {text-align: center;}
.about ul {margin-top:50px;}
.about ul li {margin-bottom:30px;}
.about ul p {font-size:15px; font-weight:400; text-align: left}
.about ul h3 {font-size:18px; padding:11px 0; margin: 0 0 5px; font-weight:400; color:#000;}
.profile-blurb { clear:both; border-bottom:1px solid #e4e4e4; padding:20px 0; overflow:hidden; } .profile-sanp { float:left; border:1px solid #e4e4e4; border-bottom:1px solid #989898; background:#f5f5f5; padding:15px 10px; } .profile-sanp img { border:1px solid #fff; } .profile-content { margin-left:182px; } .profile-title{ color:#3c3c3c; font-size:18px; font-weight:bold; color:#3c3c3c } .profile-note { color:#808080; font-weight:bold; font-size:13px; } .icon-in, .icon-blog, .icon-twitter { background:url(/getImage.php?src=social-icon.jpg) no-repeat; display:inline-block; width:24px; height:24px; text-indent:-9999em } .icon-blog{ background-position:-30px top} .icon-twitter{ background-position:-60px top} p { padding-left:0; } </style>


/* Support ------------------------ */
.support-subheader {padding:50px 0; overflow:hidden;}
.support-subheader h2 {text-align: center; font-weight: 900}
.support-subheader p {text-align: center;}

.supportchannels {padding:0;}
.supportchannels h3 {font-size:21px; text-align: left}
.supportchannels p {text-align: left}
.timeline-content {padding:65px 0;}
.timeline-content .email.button {background:transparent; border:1px solid #DE6724; color:#DE6724; font-weight:700;}
.timeline-content .email.button:hover {background:#DE6724; color:#fff; text-decoration: none}
.timeline-content .chat.button {background:transparent; border:1px solid #589DA8; color:#589DA8; font-weight:700;}
.timeline-content .chat.button:hover {background:#589DA8; color:#fff; text-decoration: none}
.timeline-content .phone.button {background:transparent; border:1px solid #4F6366; color:#4F6366; font-weight:700;}
.timeline-content .phone.button:hover {background:#4F6366; color:#fff; text-decoration: none}
.timeline-content .ticket.button {background:transparent; border:1px solid #E2574C; color:#E2574C; font-weight:700;}
.timeline-content .ticket.button:hover {background:#E2574C; color:#fff; text-decoration: none}
.timeline-content .tweet.button {background:transparent; border:1px solid #4C9AD6; color:#4C9AD6; font-weight:700;}
.timeline-content .tweet.button:hover {background:#4C9AD6; color:#fff; text-decoration: none}
.line { border-left: 3px solid #DDDDDD; position: relative}
.line .roundimg {position: absolute; top:75px; right:40px; width:100%; max-width: 100%; height:auto;}
.line .roundimg img {border:7px solid #fff;}
.timeline-content img.imgpaddingright {padding-right:50px;}


/* Typography ------------------------ */
.typography-subheader {padding:50px 0;}

/* Hosting Features ------------------------ */
.hosting-features {padding:50px 0; overflow:hidden;}
.hosting-features h2 {text-align: center; font-weight: 900}
.hosting-features p {text-align: center;}
.hosting-features .title-alt { background: #65454c;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; }
.hosting-features .title-features { background: #b86662;  padding: 12px 0;    text-align: center; letter-spacing: .07em;   color: #fff;    font-weight: 800;    font-size: 17px; }
.hostingfeatures-list { overflow:hidden; }
ul.hostingfeatures {margin:0;}
ul.hostingfeatures li {background:#F0F0F0; padding:20px; border:5px solid #EAEAEA;}
ul.hostingfeatures p {font-size:15px; font-weight:400; text-align: left}
ul.hostingfeatures h3 {font-size:20px; padding:20px 0; margin: 0 0 5px; font-weight:400; color:#000; text-align: center;}
ul.hostingfeatures li i {color:#fff; font-size:44px;}
ul.hostingfeatures li .circle {overflow:hidden; width: 80px;	height: 80px; background:#335272; padding-top:17px; margin:0 auto; position:relative; z-index:1; text-align: center; }


/* Signup - GOOGIE HOST ------------------------ */
.signup-section {padding:50px 0;}
.signup-details h4 { color:#4B4854;margin-top:75px; font-size:18px; padding:0; letter-spacing:.07em; text-transform:uppercase; position: relative; font-weight:900;}
.signup-details ul { list-style: none; margin:0; padding:4px 0; }
.signup-details ul li {padding:7px 0; border-bottom:1px solid; border-color: #ecedee; font-weight:600; letter-spacing:.07em; text-transform:uppercase; font-size:12px; text-align: left}
.signup-details ul li span {display: block;}

.contact-details ul li:last-child { border-bottom:0;}      
.contact-details ul li a { color:#303038}
.contact-details ul li a:hover { color:#3F3FF6; text-decoration: none}
#signupform button { text-align: center; font-size:15px; padding: 5px 10px; height:45px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }

#signupform input { text-align: center; font-size:15px; padding: 5px 10px; height:45px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }
#signupform textarea { text-align: center; font-size:15px; padding: 5px 10px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }
#signupform #submit { -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); width:100%; float: left; font-size:15px; background: #63A7ED; height:45px; color:#fff; font-weight:900; padding:6px; text-transform: uppercase;  width: 100%; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box; }
#signupform #submit:hover { background: #275E98; }

/* Contact US - GOOGIE HOST ------------------------ */
.contact-section {padding:20px 0;}
.contact-details h4 { color:#4B4854;margin-top:75px; font-size:18px; padding:0; letter-spacing:.07em; text-transform:uppercase; position: relative; font-weight:900;}
.contact-details ul { list-style: none; margin:0; padding:4px 0; }
.contact-details ul li {padding:7px 0; border-bottom:1px solid; border-color: #ecedee; font-weight:600; letter-spacing:.07em; text-transform:uppercase; font-size:12px; text-align: left}
.contact-details ul li span {display: block;}

.contact-details ul li:last-child { border-bottom:0;}      
.contact-details ul li a { color:#303038}
.contact-details ul li a:hover { color:#3F3FF6; text-decoration: none}
#gmap iframe {height: 450px; margin-bottom: 50px; width:100%;}
#sendstatus { margin: 0;}
#contactform input[type="text"] { font-size:15px; padding: 5px 10px; height:45px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }
#contactform textarea { font-size:15px; padding: 5px 10px; width:100%; border: 1px solid #d4d4d4;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); margin:8px 0 18px; }
#contactform #submit { -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1); width:100%; float: left; font-size:15px; background: #63A7ED; height:45px; color:#fff; font-weight:900; padding:6px; text-transform: uppercase;  width: 100%; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box; }
#contactform #submit:hover { background: #275E98; }


/* ==================
   6 = Footer
   ================== */
   
   
   
footer {padding:50px 0 15px;  background:#2E3138;}
.contacts {padding-bottom:30px; color:#fff; text-align: center; font-size:14px;font-weight: 300; }
.contacts a {color:#fff;}
.contacts a:hover {text-decoration: none; color: #C5645B;}
.contacts i {display:block; font-size:33px; font-weight: 400; margin-bottom:12px;}

.footerlinks {padding:0;border-top:4px double #FFFFFF;border-bottom:4px double #ffffff; overflow:hidden;}
.footerlinks .border-right {border-right:1px solid #FFFFFF;}
.footerlinks .columns {padding:20px 0 20px 50px;}
.footerlinks h2 {font-size:17px; color:#fff; padding:0; margin:0 0 20px; font-weight:900;}
.footerlinks ul {padding:0; margin:0; list-style:none;}
.footerlinks ul li {padding:4px 0; font-size:14px; color:#ccc;}
.footerlinks ul li a {color:#ccc;}
.footerlinks ul li a:hover {color:#EDFB69; text-decoration: none}
.footerlinks p {color:#ccc; font-size:14px;}
.footerlinks hr { border: solid #494B4C; border-width: 7px 0 0; clear: both; margin: 11px 0; height: 0; }

/*Newsletter Form Styling  ----------------------- */
#mc-embedded-subscribe-form {padding:0!important; margin:0!important;}
#mc-embedded-subscribe-form input.email {width:100%!important;}
#mc-embedded-subscribe-form input.button {float: left; background: #63A7ED; margin-top:6px; color:#fff; font-size:12px; font-weight:900; padding:11px; text-transform: uppercase;  width: 100%!important; border-radius: 4px; border:0; cursor: pointer;  -ms-box-sizing: border-box;     -khtml-box-sizing: border-box;     -webkit-box-sizing: border-box;     -moz-box-sizing: border-box;    box-sizing: border-box;    box-sizing: border-box;}
#mc-embedded-subscribe-form input.button:hover { background: #0F4F96; }

/*Copyright Text  ----------------------- */
p.copyright {font-size:12px; text-align:center; padding:35px 0 0; margin:0; color:#ccc; text-transform: uppercase;}

/* Back to Top Button  ----------------------- */
#back-to-top { color:#fff; position:fixed; bottom:20px; right:20px; z-index:999; display:none; text-align: center;	border-radius: 5px;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	-o-border-radius: 2px;       height: 29px;    width: 29px;    background-color: rgba(0,0,0,0.4);    background-repeat: no-repeat;    background-position: center;    transition: background-color 0.1s linear;    -moz-transition: background-color 0.1s linear;    -webkit-transition: background-color 0.1s linear;    -o-transition: background-color 0.1s linear;}
#back-to-top i { padding-top:4px; font-size:17px; }
#back-to-top:hover { background:#B86662; background: rgba(184,102,98,.7); }



/* ==================
   7 = Media Queries 
   ================== */
@media only screen and (max-width: 719px) { 
.js nav.desktop-menu { display:none; }
.js .slicknav_menu {display: block;}
header .message {top:100px;}
.message-intro span.message-line{display: none}
.message-intro {padding-bottom:0;font-size:15px;letter-spacing: 0; text-align: center; width:100%; margin:0 auto; display:table;}
.message-intro p{text-align: center; margin:0 auto;}
header .message h1 {font-size:30px; margin:0;}
header .message .button {margin-top:30px;}
.logo {text-align: center}
.features ul li {border:0;}
.top{position:relative; z-index:0;}
.google-ads h2 {font-size:33px;  }
.testimonials h2 {font-size:33px;}
.whoclient span {font-size:12px;}
.testimonial-content p {padding:15px;}
.contacts .columns {margin-bottom:20px;border-bottom:1px double #37485c; padding-bottom:15px;}
.footerlinks {border: 0;}
.footerlinks .border-right {border-right:0;}
.footerlinks .columns {padding:0; margin-bottom:35px; text-align: center;}
.footerlinks h2 {margin:0 0 8px;}
.social {margin-top:0;}
.social ul li {border-right:0; margin-bottom:1px; width:100%;}
.columns.hostingfeatures {display:none;}
.pricing-table.alter .bullet-item i { margin-bottom:6px;}
.pricingboxes-comparison .title-alt { -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.pricing-table.alter li.bullet-item:first-child {  -webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.pricing-table.alter .cta-button {  -webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px; }
.dedicated-servers-features ul li img {display:block; margin:0 auto; text-align: center; padding-bottom:12px;}
.flat-table td span {width:100%; display:block; text-align: center}
.domainsearch{ margin-top:20px; }
.domainsearch input[type="text"] {font-size:15px; padding:6px; height:40px; border-radius: 5px; margin-bottom:6px;}
.domainsearch select { font-size:15px; height:40px;border-radius:5px;padding:6px; border-left:0;margin-bottom:6px;}
.domainsearch input[type="submit"] {font-size:14px; height:40px; border-radius: 5px;}
.domain-prices .title-alt { letter-spacing: 0; font-size: 11px; }
.domain-prices .title-features { letter-spacing: 0; font-size: 11px; }
.pricing-table.domains.tld .bullet-item { font-size:12px; }
.pricing-table.domains .bullet-item { padding: 0.65em; font-size: 12px;}
.timeline-content {padding:15px 0; text-align:center;}
.supportchannels h3 {text-align:center;}
.supportchannels p {text-align:center;}
.timeline-content img.imgpaddingright {padding-right:0; display: block; text-align: center;}
.supportchannels {padding:15px 0; border-bottom:3px solid #d7d7d7;}
}

@media only screen and (min-width: 720px) and (max-width: 959px) {
.sf-menu a { font-size:13px; letter-spacing:0; padding:6px 10px 8px;} 
.logo {margin-top:23px;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {top: 78px; width:135px;}
header .message .button {margin-top:30px;}
header .message {top:100px;}
.message-intro {margin-bottom:20px}
header .message h1 {margin-top:0;}
.features ul li {min-height:315px;}
.features ul li h3 {margin-bottom:10px; font-size:18px;}
.features ul li p {font-size:15px;}
.footerlinks .columns {padding:20px 0 20px 10px;}
.pricing-table .price span {  font-size: 33px; }
.pricing-table .cta-button span a {font-size:14px; padding:9px 17px; border-radius: 6px}
.flat-table td span {display: block; text-align: center;}
.flat-table td, .flat-table th {font-size: 13px; padding: 0.7em;	}
.line .roundimg {right:30px;}
ul.domainfeatures li i {font-size:30px;}
ul.domainfeatures li .circle {width: 60px; height: 60px;padding-top:13px; }

}

@media only screen and (min-width: 960px) and (max-width: 1025px) {
.line .roundimg {right:43px;}
}
.share {
	margin-top: 5px;
	padding: 8px;
	position: fixed;
	top: 33%;
	border: 1px solid #E7E7DD;
	border-left: 0;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	width: 55px;
}
.share .fb_share {
	margin-top: 6px;
	margin-left: 3px;
	position: relative;
}
.share .plusone {
	margin-top: 6px;
}
.share .tweets {
	margin-top: 6px;
}
  
  .domain-searchbox {
 
  padding: 18px 0 14px;
    margin-top: 30px;
	width:80%;
	margin-left:10%;
}

.search-input {
  background: #ffdddd21;
  padding: 15px;
  border: 1px solid #9aa2a7;
}

.domain-searchbox input {
  height: 46px;
  margin-bottom: 0;
  margin-left:5%;
  width:50%;
}

.domain-searchbox input {
  padding: 16px 16px;
  font-size: 18px;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

.domain-extension {
  cursor: pointer;
  background: #fff;
  width:20%;
  margin-left:56%;
  margin-top:-47px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  border: 1px solid #9aa2a7;
}

.domain-extension select {
  color: #000;
  background: transparent;
  z-index: 2;
  height: 44px;
  border: none;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

      .topnav {
  overflow: hidden;
  background-color: #235588;
          width: 70%;
          height: 170px;
          margin-left: 15%;
		  
          border-radius: 10px;
          
}


.topnav input[type=text] {
  padding: 6px;
  margin-top: 40px;
  font-size: 17px;
  border: none;
    width: 60%;
    float: left;
    margin-left: 12%;
    
}

.topnav .search-container button {
  float: left;
  padding: 6px 50px;
  margin-top: 40px;
    height: 37px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
