<!-- Javascript start-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<!-- Javascript end-->


<!-- Share scripts start-->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=250859798399889&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Share scripts end-->


<!-- css start-->
<style>
.share {
	margin-top: 5px;
	padding: 8px;
	position: fixed;
	top: 33%;
	border: 1px solid #E7E7DD;
	border-left: 0;
	-moz-border-radius: 0px 6px 6px 0px;
	-webkit-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;
	width: 55px;
}
.share .fb_share {
	margin-top: 6px;
	margin-left: 3px;
	position: relative;
}
.share .plusone {
	margin-top: 6px;
}
.share .tweets {
	margin-top: 6px;
}

</style>

<!-- css end-->


<!-- Share script start [add after body]-->

<div class="share">
	<div class="fb_share">
        <div id="fb-root"></div>
        <div class="fb-like" data-href="https://facebook.com/GoogieHost" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
    	<div class="plusone">
        <g:plusone size="tall"></g:plusone>
	    </div>
        <div class="tweets">
        
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://googiehost.com" data-text="Hey! This website providing Free Hosting Forever. You must check it" data-via="GoogieHost" data-count="vertical" >Tweet</a>
        </div>


</div>

<!-- Share script end-->