html, body
{
	font: 				normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: 				#4f6b72;
	background: 		#ffffff;
	font-size:			12px;
	text-align: 		left;
	height:				100%;
	margin:				0;
	padding:			0;
}

div.serverStatusContainer
{
	padding-top:		50px;
}

#serverStatusTable
{
	padding: 0;
	margin: 0;
}

#serverStatusTable th
{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 6px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
	text-align: center;
}

#serverStatusTable th.nobg
{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#serverStatusTable td
{
	border-right: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 6px;
	color: #4f6b72;
	text-align: center;
}

#serverStatusTable td.alt
{
	background: #F5FAFA;
}

#serverStatusTable td.taLeft
{
	text-align:			left;
	padding: 			6px 6px 6px 12px;
}

#serverStatusTable a
{
	color: #c75f3e;
}
