<footer>
<div class="row">
<div class="small-12 columns">
<div class="footerlinks">
<div class="small-12 large-3 medium-3 columns border-right">
<h2>GoogieHost के बारे मे</h2>
<ul>
<li><a href="about.html">हमारे बारे मे</a></li>
<li><a href="team.html">हमारे एक्सपर्ट टीम के बारे मे</a></li>
<li><a href="contact.html" title="Contact Us">हमसे संपर्क करें</a></li><li><a href="https://googiehost.com/disclosure.html" target="_blank">डिस्क्लोजर</a></li><li><a href="terms.html">व्यवहार करने के लिए शर्ते</a></li>
<li><a href="privacy.html">प्राइवसी पॉलिसी</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>GoogieHost इंटरनेशनल</h2>
<ul>
<li><a href="dmca-notice.php">जनरेट DMCA नोटिस</a></li>
<li><a href="https://googiehost.com/hi">Hindi</a></li>
<li><a href="https://googiehost.com/es">Español</a></li>
<li><a href="https://googiehost.com/id">Indonesia</a></li>
<li><a href="https://googiehost.com/it">Italiano</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>फ्री होस्टिंग क्लाइंट</h2>
<ul>
<li><a href="freehostingreview.html">GoogieHost रिव्युज</a></li>
<li><a href="https://status.googiehost.com" title="Server Uptime" target="_blank">सर्वर अपटाइम</a></li><li><a href="https://googiehost.com/best-hosting-for-wordpress.html">वर्डप्रेस के लिए सर्वश्रेष्ठ होस्टिंग</a></li>
<li><a href="seo.html">सर्च इंजन ऑप्टमज़ेशन</a></li>
<li><a href="https://googiehost.com/blog/">सपोर्ट ब्लॉग</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-left">
<h2>GoogieHost को क्यों चुना जाए ?</h2>
<ul>
<li><a href="freedomains.html">फ्री डोमेन नेम</a></li>
<li><a href="freephphosting.html">फ्री PHP होस्टिंग</a></li>
<li><a href="freewebsitebuilder.html">फ्री वेबसाइट बिल्डर</a></li>
<li><a href="freewordpresshosting.html">फ्री वर्डप्रेस होस्टिंग</a></li>
<li><a href="freeautoinstaller.html">फ्री वेबसाइट ऑटो इनस्टलर</a></li>
</ul>
<!--End mc_embed_signup-->
</div>
</div>
</div>
</div>
<br/>
<center><a href="https://www.facebook.com/GoogieHost" target="_blank"><img src="../images/fb-icon.png" alt="facebook"></a> <a href="https://www.instagram.com/googiehost/" target="_blank"><img src="../images/instagram.png" alt="instagram"></a> <a href="https://twitter.com/GoogieHost" target="_blank"><img src="../images/twitter-icon.png" alt="twitter"></a></center>
<p class="copyright">© कॉपीराइट  2011-2021 GoogieHost. सर्वाधिकार सुरक्षित </p>
<!--GoogieHost Review on Google+-->
<div align="center" >
<div  style="color:#a4a4a4;"><a href="https://www.google.co.in/search?q=googiehost&oq=googiehost&aqs=chrome..69i57j69i60l3j69i61.2096j0j1" target="_blank" style="color:#a4a4a4;">Google</a> पर <span >832</span> समीक्षाओं के आधार पर रेटेड <span >4.7</span> / 5 </div>
</div>
<!--GoogieHost Review on Google+-->
</footer>
<!--  END OF FOOTER  -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<style>           
.write{color:white;padding:6px 20px;font-family: 'arial';font-size:18px;text-align: center;border-radius: 5px;text-decoration:none;border-radius: 5px;background-color:#fc5155;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.06);}
.write:hover{text-decoration:none;color:white;}
.write:hover{text-decoration:none;color:white;}
#bizzbar{position: fixed;padding:5px 5px;bottom: 0;left: 0;right: 0; background:#005C97; width:100%;   color:white;   overflow:hidden;   z-index:1000;  font-family:Georgia;  font-size:18px;  line-height:30px;  position:fixed;  /* box-shadow:0 1px 5px rgba(0,0,0,.7) */ }
#close {float:right;display:inline-block;padding:5px 2px;font-size:20px; }
#close:hover {float:right;display:inline-block;color:white;}
.bizztext{font-family:arial;margin-top:10px;margin-bottom:0px;font-size:18px;text-align:center;}
@media screen and (max-width:600px){
.bizztext{font-family:arial;margin-top:0px;margin-bottom:0px;font-size:14px;text-align:center;}
}
 </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$('#close').on('click', function(e) { 
$('#bizzbar').remove(); 
});
});</script>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/vendor/hoverIntent.js"></script>
<script src="js/vendor/superfish.min.js"></script>
<script src="js/vendor/morphext.min.js"></script>
<script src="js/vendor/wow.min.js"></script>
<script src="js/vendor/jquery.slicknav.min.js"></script>
<script src="js/vendor/waypoints.min.js"></script>
<script src="js/vendor/jquery.animateNumber.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/vendor/jquery.slicknav.min.js"></script>
<script src="js/custom.js"></script>
