/*-----------------------------------------*/
  @media (min-width: 1281px) {
  .header5 .message{top:57px;text-align:left;}
  
   .header5 h2{text-align:left;font-size:30px;}
}
.box{text-align:left;padding: 4em 5em;}
@media (min-width: 1281px) {.box {padding: 50px 5em;}}
@media (min-width: 1157px) and (max-width: 1280px) {
 .header5 .message{top:57px;text-align:left;} 
  .header5 {
    min-height: 500px;
}
   .header5 h2{text-align:left;font-size:30px;}
   .box {
    text-align: left;
    padding: 50px 5em;
}
}
@media (min-width: 1025px) and (max-width: 1156px) {
 .header5 .message{top:125px;text-align:left;} 
  .header5 {
    min-height: 580px;
}
   .header5 h2{text-align:left;font-size:30px;}
}
  @media (min-width: 992px) and (max-width: 1024px) {
.header5 .message{top:125px;text-align:left;} 
 .header5 {
    min-height: 600px;
}
  .header5 h2{text-align:left;font-size:30px;}
}
  @media (min-width: 768px) and (max-width: 991px) {
.header5 .message{top:125px;text-align:left;} 
.header5 {
    min-height: 600px;
}
  .header5 h2{text-align:left;font-size:30px;}
}
@media (min-width:640px) and (max-width: 719px) {
    .header5 .message{top:80px;text-align:left;}
     .header5 {
    min-height:500px;
}
}
@media (min-width: 720px) and (max-width: 767px) {
.heade5 .message{top:180px;text-align:left;}
 .header5 {
    min-height: 600px;
}
  .header5 h2{text-align:left;font-size:25px;}
} 
@media (max-width: 639px) {

  .header5 h2{text-align:left;font-size:25px;}}
  @media (min-width:640px) and (max-width:1025px) {
        .med{width:60%;}
        .med1{width:40%;}
    }

    .header5 .message h1 {line-height:48px;
}
@media  screen and (max-width:309px){ .header5 {
    min-height:880px;
}
.header5 .message {
    top: 80px;
    text-align: left;
}
.header5 .message h1 {
    line-height:30px;font-size:25px;
}}
@media (min-width:310px) and (max-width: 639px){  .header5 .message{top:100px;text-align:left;}
 .header5 {
    min-height:840px;
}}
/*header end------------*/


.content-block1 {
    padding: 10px 0;
}
.box1{text-align:left;padding: 4em 5em;}
@media (max-width: 767px){
  .box1{ padding: 20px 0;}
}
.box1 .custom.button {
margin-top: 25px;
}
@media (max-width: 767px){
.box1 .custom.button {
    font-size: 14px;
}
}
.box1 h1 {
    color:#333;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .1px;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 4em;
}
@media (max-width: 767px){
.box1 h1 {
    font-size:18px;
    line-height: 1;text-align:center;
}
}
@media (max-width: 991px){
  .box1 h1 {
    font-size: 30px;/*text-align:center;*/
    line-height: 26px;
}
}
@media (max-width: 767px){.box1 p.hide1 {
    display: none;
}}

@media (max-width: 991px){.box1 p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
}}
.box1 p {
    font-weight: 400;
    color: #333;
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 0;
}
@media screen and (max-width:600px){
 .box1 .custom1{display:none;}
 .box1 ul li{font-size:18px;color:white;}
 .box1 ul li i {
    color: #f9ca0e;
}
}
@media (min-width: 992px){
.box1 ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}
.box1 ul li {
    font-size: 18px;
   color:#333;
    padding-top: 0;
    margin-bottom: 15px;
}
  }
.box1 ul li{color:#333;}
.box1 ul li i{
    color:#f9ca0e;
 }
 .offer1{padding-top:15%;}
.offer1 .savings{text-transform: uppercase;
    font-size: 20px;
     padding: 10px 30px;
     color: #fff;
    background:#fc5155;}
.offer1 .arrow {
    background:#fc5155;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
   
} 
.offer1 .price {text-align:center;} 
.offer1 .price .price1 {
    font-size: 2em;
    font-weight: 700;
    margin-top: .2em;padding:20px;
} 
.offer1 .price .price2 {
    font-size:60px;
    font-weight: 700;
    color:#333;margin-top: .2em;padding:20px;
} 
.offer1 .price .price3 {
    font-size:30px;font-weight:400;color:white
    margin-top: .2em;padding:20px;
} 
.logos span {
    color:#333;
    font-size: 30px;
}
.logo1 .savings{text-transform: uppercase;
    font-size: 20px;
     padding: 10px 20px;
     color: #fff;
    background:white;}
.logo1 .arrow {
    background:white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
   margin-top:-10px;
} 

.offer .price .price4 {
    font-size: 155px;
    line-height: 0.95;
    text-align:center;
    white-space: nowrap;
}
.offer1 .price .price4 .sign {
    font-size: 72px;
    line-height: 1;
    vertical-align: middle;
    margin-top: -80px;
    display: inline-block;
}
.offer1 .price .price4 .terms {
    color:#333;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    margin-left: -80px;
    display: inline;
    position: relative;
}
.offer1 .price .price4 .float {
    margin-left: -5px;
    font-size: 72px;
    
    line-height: 1;
    vertical-align: middle;
    margin-top: -100px;
    display: inline-block;
}

.divider{background-color: #f9ca0e;margin:0px auto;width: 80px;height: 2px;float: none;overflow: auto;}
  .tbla{width: 100%;margin-top: 30px;border-collapse: collapse;overflow: hidden;}
.tbla thead tr .youstable{padding: 0 5px 0 0;background:white;
}
.tbla thead tr th p{text-align:center;font-size:18px;font-weight:400;}
.tbla thead tr .youstable p{text-align:center;font-size:18px;font-weight:400;}
.tbla tr td{padding: 10px;font-size: 16px;height: 55px;font-weight: 600;}

.tbl{
width: 100%;margin-top: 30px;border-collapse: collapse;overflow: hidden; border-radius:25px;
  }
  .tbl tr:first-child {
    background:transparent;
}
.tbl tr:first-child #googiehost { font-size: 1.3em;font-weight: 600;background-color:white ; /* border-right:2px solid #4a0;border-left:2px solid #4a0;border-top: 2px solid #4a0;*/  border-radius: 10px 10px 0 0;padding: 0 5px 0 0;}
/*.tbl tr:first-child td { color:#235588; font-weight: 600;font-size: 1.3em}*/

.tbl tr:nth-child(2) {
    font-weight: 600;
    font-size:0.9em;background:white;
}
  .tbl tr {
        display: table-row;
    border-bottom: 1px solid #ececec;}


.tbl td { 
  color:gray;
    padding: 15px 5px;
    text-align: center;
    position: relative;font-weight: 550;
    
}

/*.tbl tr td:first-child {
    text-align:center;
    width: 25%;
    color: #525252;
}

.tbl tr:nth-child(2) {
    font-weight: 600;
    font-size: 0.9em;
}*/
table,tbody,td,tr,th{
      margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;}

    tbody{
      -webkit-box-sizing: border-box;
    font-family: open sans,sans-serif;}
/*.tbl tr td:nth-child(2){border-right:2px solid #4a0;border-left:2px solid #4a0;}
.tbl tr:last-child td:nth-child(2) {border-bottom:2px solid #4a0;border-right:2px solid #4a0;border-left:2px solid #4a0;}
*/
.tbl tr:last-child{border-bottom: 1px solid white;}
@media screen and (max-width: 600px) {
.tbl td {font-size:14px;font-weight:600;    padding: 15px 2px;}
.tbl tr:first-child #googiehost {font-size:14px;color:white; font-weight: 600;padding: 15px 2px;}
.tbl tr:first-child #googiehost span {
    display: block;
    border: 0;
    background-color: #fff;
}
.tbl tr:first-child td{font-size:14px;text-align:left;color:#235588 ; font-weight: 600;padding: 15px 2px;}
.tbl tr td:nth-child(2) {font-size:14px;font-weight: 700;  color: #525252;padding: 15px 2px;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}

.tbl tr td:nth-child(2) {
    border-right: 2px solid #4a0;
    border-left: 2px solid #4a0;
}
}

.tbl tr:last-child td:nth-child(2)  a.#cta_btn1{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background: #f9ca0e;
    color: #263238;
 padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
}
.tbl  #cta_btn1{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background: #f9ca0e;
    color: #263238;
 padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
}
.tbl .last #cta_btn1:hover{color: #fff;}
@media screen and (max-width:600px){
  .custom2{min-width: 100px;}
}

.content-block1 {
    padding: 10px 0;
}
@media (max-width: 767px){
  .box{ padding: 20px 2em;}
}
@media (min-width: 720px) and (max-width: 767px) {
  .box{padding: 110px 2em;}
}
.box .custom.button {
    width:220px;text-align:center;margin-bottom:35px;
    margin-top: 25px;
}
@media (max-width: 767px){
.box .custom.button {
    font-size: 14px;
}
}

.box h1 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .1px;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 4em;
}
@media (max-width: 767px){
.box h1 {
    font-size:18px;
    line-height: 1;text-align:center;
}
}

@media (max-width: 991px){
  .box h1 {
    font-size: 30px;text-align:center;
    line-height: 26px;
}
}

@media (max-width: 767px){.box p.hide1 {
    display: none;
}}

@media (max-width: 991px){.box p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
}}

.box p {
    font-weight: 400;
    color: white;
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 0;
}
@media screen and (max-width:600px){
  .box ul {margin-bottom:0px;margin-left:0px;}
 .box .custom1{display:none;}
 .box ul li{font-size:18px;color:white;padding-left: 12px;}
 .box ul li i {
  position:absolute;
    color: #f9ca0e;left: 0;
}
}

@media (min-width: 992px){
.box ul {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}
.box ul li {
    font-size: 18px;
   color:white;
    padding-top: 0;
    margin-bottom: 15px;
}
  }
.box ul li{color:white;font-size:18px;}
.box ul li i{
    color:#f9ca0e;
 }
 .offer{padding-top:15%;}
.offer .savings{text-transform: uppercase;
    font-size: 20px;
     padding: 10px 30px;
     color: #fff;
    background:#fc5155;}
.offer .arrow {
    background:#fc5155;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
   margin-top: -3px;
} 
.offer .price {text-align:center;} 
.offer .price .price1 {
    font-size: 2em;
    font-weight: 700;
    margin-top: .2em;padding:20px;
} 
.offer .price .price2 {
    font-size:60px;
    font-weight: 700;
    color:white;margin-top: .2em;padding:20px;
} 
.offer .price .price3 {
    font-size:30px;font-weight:400;color:white
    margin-top: .2em;padding:20px;
} 
.offer .price .price4 {
    font-size: 155px;
    line-height: 0.95;
    text-align:center;
    white-space: nowrap;
}
.offer .price .price4 .sign {
    font-size: 72px;
    line-height: 1;
    vertical-align: middle;
    margin-top: -80px;
    display: inline-block;
}
.offer .price .price4 .terms {
    color: #fff;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    margin-left: -80px;
    display: inline;
    position: relative;
}
.offer .price .price4 .float {
    margin-left: -5px;
    font-size: 72px;
    
    line-height: 1;
    vertical-align: middle;
    margin-top: -100px;
    display: inline-block;
}

.googie{background:#f4f4f4;padding: 80px 0 60px}
.googie p{font-size:20px;}
  @media only screen and (max-width: 767px){
    .googie{background:#f4f4f4;padding: 40px 0 60px}
    .googie .head {
padding: 30px 0;
}}
.googie .head{
overflow: hidden;padding: 10px 0 47px;
}
@media only screen and (max-width: 991px){
.googie .head {
font-size: 14px;line-height: 24px;
}
}
.googie .sidebar{padding: 40px;background: #7d7d7d;color: #fff;}
.googie .sidebar ul li{font-size:20px;}

@media (min-width: 768px){
    .text-md-left {
    text-align: left!important;
}
  }
  @media screen and (max-width:765px){
    .text-xs-center {
    text-align: center!important;
}
  }

.cta_btn{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    background: #ff4546;
    color:white;
 padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
}
.cta_btn:hover{color: #fff;}

#contactInfo,.footer-up{display:none;}
.tooltip1 {
  position: relative;
  display: inline-block;
}
.tooltip1 .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom:100%;
width:200px;
}

.tooltip1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
@media (max-width:400px){.tooltip1 .tooltiptext{width:130px;}}
.tooltip1:hover .tooltiptext {
  visibility: visible;
}
@media (min-width: 48em){.sticky-footer .text-col p {
    flex-basis: initial;
    min-width: initial;
}}
.sticky-footer .text-col p {
    margin: 0;
    display: block;
    min-width: 70%;
}
@media screen and (max-width:768px){.sticky-footer .text-col p {margin-left:10px;
}}
@media (min-width: 48em){.sticky-footer .text-col p {
    font-size: 1.6rem;
}}
@media (min-width: 62em){
  .sticky-footer .text-col .btn-sm {
    margin: 0 0 0 2rem;
}
}
@media (min-width: 48em){
  .sticky-footer .text-col .btn-sm {
    min-width: 0%;
}
}
.sticky-footer .text-col .btn-sm {
    margin: 0 1rem 0 1rem;
}
@media (min-width: 62em){
  .btn-sm {
    font-size: 1.3rem;
    padding: 0.8rem 2rem;
}
}
.btn-sm:hover{color:white;}
.btn-sm {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Open Sans",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1;
    background-color: #6ace26;
    border: 1px solid #6ace26;
    margin-bottom: 1.1rem;
    color: #fff;
    border-radius: .3rem;
    overflow: hidden;
    background-image: linear-gradient(to right, #6ace26 0%, #96dc66 10%, #96dc66 80%, #6ace26 100%);
    background-repeat: no-repeat;
    background-size: 10% 100%;
    background-position: -100% center;
    transition: all .5s ease;
    font-size: 1.1rem;
    padding: .6rem 1.6rem;
}
@media (min-width: 48em){.sticky-footer .text-col {
    text-align: center;
    font-size: 2.2rem;
    flex-basis: 0;
    min-width: 0;
    justify-content: flex-end;
    padding: 0;
}}
.sticky-footer .text-col {
    font-size: 1.6rem;
    line-height: 1.3;
    color: #5588d3;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    flex-basis: 100%;
}
.sticky-footer .chat .contact-icon {
    border-right: 0.05rem solid #C3CCD7;
}
.sticky-footer .contact-icon {
    width: 100%;
    padding: .3rem 1rem;
}
.sticky-footer .contact-link {
    display: block;
    float: left;
    width: 5rem;
    padding: .8rem 0;
}
.sticky-footer .contact-icon img {
    width: 100%;
}

.sticky-footer {
    position: fixed;left:0;right:0;border-top: 0.1rem solid #C3CCD7;
    bottom: 0;
    z-index: 1500;
    transition: height 0.2s linear;background:white;
}
.sticky-footer .sticky-footer-container {
    padding: 0;
    background-color: #fff;
    position: relative;
}
@media screen and (min-width: 48em){
  .visible-md1 {
    display: block;
}
}
.visible-md1 {
    display: none;
}

@media (min-width:1115px){.med{
    padding-top:3%;
}}

@media (min-width:600px) and (max-width: 639px) {
 .offer {
    padding-top: 0%;
}
}
.offer .price .price4 .int {
    font-size: 120px;
    vertical-align: top;
}