<footer>
<div class=row>
<div class="small-12 columns">
<div class=footerlinks>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>Tentang GoogieHost</h2>
<ul>
<li><a href=about.html>Tentang kita</a></li>
<li><a href=team.html>Geeks Tim kami</a></li>
<li><a href=contact.html title="Contact Us">Hubungi kami</a></li>
<li><a href="https://status.googiehost.com" title="Server Uptime" target="_blank">Server Uptime</a></li>
<li><a href=terms.html>Syarat Penggunaan</a></li>
<li><a href=privacy.html>Kebijakan Privasi</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>GoogieHost International</h2>
<ul>
<li><a href=dmca-notice.php>Hasilkan Pemberitahuan DMCA</a></li>
<li><a href="https://googiehost.com/hi">Hindi</a></li>
<li><a href="https://googiehost.com/es">Español</a></li>
<li><a href="https://googiehost.com/id">Indonesia</a></li>
<li><a href="https://googiehost.com/it">Italiano</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-right">
<h2>Klien Hosting Gratis</h2>
<ul>
<li><a href="freehostingreview.html">Ulasan GoogieHost</a></li>
<li><a href=freedomains.html>Nama Domain Gratis</a></li>
<li><a href="https://googiehost.com/best-hosting-for-wordpress.html" target="_blank">Hosting Terbaik Untuk WordPress</a></li>
<li><a href=seo.html>Optimisasi Mesin Pencari</a></li>
<li><a href="https://googiehost.com/blog/">Mendukung Blog</a></li>
</ul>
</div>
<div class="small-12 large-3 medium-3 columns border-left">
<h2>Mengapa memilih GoogieHost?</h2>
<ul>
<li><a href=freephphosting.html>Hosting Php Gratis</a></li>
<li><a href=freewebsitebuilder.html>Pembuat Situs Web Gratis</a></li>
<li><a href=freewordpresshosting.html>Hosting WordPress Gratis</a></li>
<li><a href=freeautoinstaller.html>Penginstal Otomatis Gratis</a></li>
</ul>
</div>
</div>
</div>
</div>
<br/>
<center><a href="https://www.facebook.com/GoogieHost"><img src="../images/fb-icon.png"/></a> <a href="https://plus.google.com/+GoogiehostFree"><img src="../images/google-plus-icon.png"/></a> <a href="https://twitter.com/GoogieHost"><img src="../images/twitter-icon.png"/></a> </center>
<p class=copyright>© HAK CIPTA 2011-2021 GOOGIEHOST, SEMUA HAK DILINDUNGI. </p>
<div align=center>
<div style="color:#a4a4a4;">Peringkat <span>4.7</span>/5 berdasarkan <span>832</span> ulasan di <a href="https://www.google.co.in/search?q=googiehost&oq=googiehost&aqs=chrome..69i57j69i60l3j69i61.2096j0j1" target=_blank style="color:#a4a4a4;">Google+</a></div>
</div>
</footer>
<a href="#top" id=back-to-top><i class="fa fa-angle-up"></i></a>
<style>.write{color:white;padding:6px 20px;font-family:'arial';font-size:18px;text-align:center;border-radius:5px;text-decoration:none;border-radius:5px;background-color:#fc5155;box-shadow:0 1px 4px 0 rgba(0,0,0,0.06);}
.write:hover{text-decoration:none;color:white;}
.write:hover{text-decoration:none;color:white;}
#bizzbar{position:fixed;padding:5px 5px;bottom:0;left:0;right:0;background:#005C97;width:100%;color:white;overflow:hidden;z-index:1000;font-family:Georgia;font-size:18px;line-height:30px;position:fixed;}
#close{float:right;display:inline-block;padding:5px 2px;font-size:20px;}
#close:hover{float:right;display:inline-block;color:white;}
.bizztext{font-family:arial;margin-top:10px;margin-bottom:0px;font-size:18px;text-align:center;}
@media screen and (max-width:600px){.bizztext{font-family:arial;margin-top:0px;margin-bottom:0px;font-size:14px;text-align:center;}
}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">$(document).ready(function(){$('#close').on('click',function(e){$('#bizzbar').remove();});});</script>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/vendor/hoverIntent.js"></script>
<script src="js/vendor/superfish.min.js"></script>
<script src="js/vendor/morphext.min.js"></script>
<script src="js/vendor/wow.min.js"></script>
<script src="js/vendor/jquery.slicknav.min.js"></script>
<script src="js/vendor/waypoints.min.js"></script>
<script src="js/vendor/jquery.animateNumber.min.js"></script>
<script src="js/vendor/owl.carousel.min.js"></script>
<script src="js/vendor/jquery.slicknav.min.js"></script>
<script src="js/custom.js"></script>
