#contactform #submit,
#signupform #submit,
.contact-details h4,
.contact-details ul li,
.sf-menu a,
.signup-details h4,
.signup-details ul li,
p.copyright {
	text-transform: uppercase
}

body,
code {
	font-weight: 400
}

hr,
hr.small {
	height: 0;
	clear: both
}

.postfix,
.prefix,
code,
label,
select {
	display: block
}

.postfix,
.prefix,
body,
header {
	position: relative
}

.flat-table th,
body {
	-webkit-font-smoothing: antialiased
}

body {
	font-family: Lato, Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #5A5A5A;
	background: #EAEAEA;
	margin: 0
}

body.login-page {
	background: url(images/login_page_bg.jpg)
}

.row {
	max-width: 1170px
}

iframe {
	border: 0;
	width: 100%
}

code {
	text-shadow: 0 1px #fff;
	line-height: 1.3;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	background: #F5F2F0;
	padding: 12px;
	margin: 8px 0;
	color: #303038;
	border: 0;
	border-radius: 6px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Lato, Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-weight: 700;
	color: #5A5A5A;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
	margin-bottom: 12px;
	margin-top: 12px
}

p,
select {
	font-family: inherit
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: 60%;
	color: #6f6f6f;
	line-height: 0
}

h1 {
	font-size: 44px
}

h2 {
	font-size: 34px
}

h3 {
	font-size: 27px
}

h4 {
	font-size: 23px
}

h5 {
	font-size: 17px
}

h6 {
	font-size: 14px
}

a {
	color: #b86662;
	text-decoration: none;
	line-height: inherit
}

a:hover {
	color: #37485C;
	text-decoration: underline
}

p {
	font-weight: 400;
	line-height: 1.45;
	margin-bottom: 17px;
	font-size: 17px
}

hr {
	border: solid #eff0f4;
	border-width: 1px 0 0;
	margin: 21px 0
}

hr.small {
	border: double #37485c;
	border-width: 4px 0 0;
	margin: 30px auto 20px;
	max-width: 150px
}

.spacing-30 {
	padding-bottom: 30px
}

.spacing-top-50 {
	padding-bottom: 50px
}

form {
	margin: 0;
	padding: 0
}

.row form .row {
	margin: 0 -6px
}

.row form .row .column,
.row form .row .columns {
	padding: .4px
}

.row form .row.collapse {
	margin: 0
}

.row form .row.collapse .column,
.row form .row.collapse .columns {
	padding: 0
}

label {
	color: #4d4d4d;
	cursor: pointer;
	font-weight: 500;
	margin-bottom: 3px
}

label.right {
	float: none;
	text-align: right
}

label.inline {
	line-height: 32px;
	margin: 0 0 12px
}

.postfix,
.prefix {
	z-index: 2;
	text-align: center;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	height: 32px;
	line-height: 31px
}

a.button.postfix,
a.button.prefix {
	padding-left: 0;
	padding-right: 0;
	text-align: center
}

span.postfix,
span.prefix {
	background: #f2f2f2;
	border: 1px solid
}

.prefix {
	left: 2px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	overflow: hidden
}

.postfix {
	right: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px
}

input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea {
	background-color: #fff;
	font-family: inherit;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #666;
	display: block;
	margin: 0;
	padding: 6px;
	width: 100%;
	border-radius: 4px
}

.pricing-table .price,
.pricingboxes .title,
.pricingboxes-comparison .title-alt,
.pricingboxes-comparison .title-features,
.terms-of-usage .title {
	font-family: Lato, Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
}

input[type=date].oversize,
input[type=datetime].oversize,
input[type=email].oversize,
input[type=number].oversize,
input[type=password].oversize,
input[type=search].oversize,
input[type=tel].oversize,
input[type=text].oversize,
input[type=time].oversize,
input[type=url].oversize,
textarea.oversize {
	font-size: 17px;
	padding: 4px 6px
}

input[type=date]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus {
	background: #f6f6f6;
	border-color: #b3b3b3
}

input[type=date][disabled],
input[type=datetime][disabled],
input[type=email][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=text][disabled],
input[type=time][disabled],
input[type=url][disabled],
textarea[disabled] {
	background-color: #ddd
}

textarea {
	height: auto
}

select {
	background-color: #fff;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #666;
	margin: 0;
	padding: 6px;
	width: 100%;
	border-radius: 4px
}

header {
	background-image: linear-gradient(#005C97, #363795);
	border-bottom: #fff 2px solid;
	min-height: 505px;
}

header .message {
	position: absolute;
	top: 125px;
	left: 1%;
	right: 1%;
	margin: 0 auto;
	text-align: center
}

.message-intro {
	display: table-row;
	line-height: 1.5em;
	font-size: 2em;
	white-space: nowrap;
	margin-bottom: 2em
}

.message-intro p {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 30px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px
}

.message-intro span.message-line {
	display: table-cell;
	width: 50%;
	padding: 0 10px
}

.message-intro span.message-line:first-child {
	padding: 0 30px 30px 0
}

.message-intro span.message-line:last-child {
	padding: 0 0 30px 30px
}

.message-intro span.message-line:after {
	display: inline-block;
	width: 100%;
	content: ".";
	font-size: 0;
	color: transparent;
	height: 1px;
	background: #F7EBDF;
	vertical-align: middle;
	position: relative;
	top: 0
}

#js-rotating,
.mobile-menu,
.slicknav_menu {
	display: none
}

header .message h1 {
	color: #fff;
	font-size: 45px;
	font-weight: 900;
	margin: 8px 0 0;
	padding: 0
}

header .message .button {
	background: 0 0;
	border: 1px solid #f7ebdf;
	color: #f7ebdf;
	margin-top: 60px;
	font-weight: 700
}

header .message .button:hover {
	background: #292c31;
	border-color: #fff;
	text-decoration: none
}

.top {
	background: #303030;
	z-index: 9999;
	padding: 0;
	width: 100%;
	position: fixed;
	border-top: #2C2B2B 3px solid;
	-webkit-box-shadow: 0 -2px 1px rgba(0, 0, 0, .1) inset;
	-moz-box-shadow: 0 -2px 1px rgba(0, 0, 0, .1) inset;
	box-shadow: 0 -2px 1px rgba(0, 0, 0, .1) inset
}

.logo {
	margin: 15px 0 15px;
}

header h2 {
	padding: 45px 0 25px;
	font-size: 42px;
	color: #fff;
	text-align: center;
	font-weight: 100
}

header.alt-1 .message h1,
header.alt-2 .message h1,
header.alt-4 .message h1 {
	color: #FFF
}

nav.desktop-menu {
	padding: 0;
	float: right;
	text-align: left
}

.sf-menu a,
.sf-menu>li>a {
	display: block
}

.sf-menu,
.sf-menu * {
	overflow: visible;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 1000
}

.features ul,
.features1 ul {
	margin-top: 60px
}

.sf-menu {
	line-height: 1;
	float: left;
	margin-bottom: 0
}

.sf-menu ul {
	z-index: 1000;
	position: absolute;
	top: -999em;
	padding: 0;
	overflow: visible!important
}

.features,
.features1,
.google-ads,
.pricingboxes,
.sharedfeatures-odd,
.terms-of-usage {
	overflow: hidden
}

.sf-menu ul li {
	display: block;
	width: 100%!important;
	text-align: left;
	padding: 4px 0;
	border-bottom: 1px solid #40546a;
	margin-left: 0!important
}

.features h2,
.features p,
.features ul li,
.features1 h2,
.features1 p,
.features1 ul li,
.google-ads h6,
.sf-menu li {
	text-align: center
}

.sf-menu ul li:last-child {
	border-bottom: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

.sf-menu ul li a {
	border: none;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important
}

.sf-menu ul li a:hover,
.sf-menu ul li:hover {
	background: #40546a!important
}

.sf-menu li {
	float: left;
	position: relative;
	text-decoration: none;
	padding: 26px 0;
	margin-left: 10px
}

.sf-menu li:first-child {
	margin-left: 0
}

.sf-menu a {
	position: relative;
	font-size: 14px;
	letter-spacing: .07em;
	font-weight: 400;
	padding: 6px 5px 8px;
	color: #fff
}

.sf-menu li li a {
	font-size: 11px;
	color: #fff;
	padding: 7px 10px 5px
}

.sf-menu li a:hover {
	background: #2F85EA;
	text-decoration: none;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.sf-menu li.current-menu-item a,
.sf-menu li.current-menu-parent a,
.sf-menu li.current_page_parent a {
	background: #2F85EA;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.sf-menu li li.current-menu-item a,
.sf-menu li.current-menu-item ul.sub-menu li a,
.sf-menu li.current-menu-parent li a {
	background: #898a8d;
	color: #fff
}

.sf-menu li li.current-menu-item a:hover,
.sf-menu li.current-menu-item ul.sub-menu li a:hover,
.sf-menu li.current-menu-parent li a:hover {
	background: #3ec7cf;
	color: #fff
}

.sf-menu li.sfHover ul,
.sf-menu li:hover ul {
	left: 0;
	top: 80px;
	z-index: 999999;
	width: 175px;
	-webkit-animation-duration: .3s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: fadeInRight;
	-moz-animation-duration: .3s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-moz-animation-name: fadeInRight;
	animation-duration: .3s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-name: fadeInRight
}

.pricingboxes .title:after,
.sf-menu ul:after,
.terms-of-usage .title:after {
	height: 0;
	width: 0;
	pointer-events: none;
	content: " "
}

ul.sf-menu li.sfHover li ul,
ul.sf-menu li:hover li ul {
	top: -999em
}

ul.sf-menu li li.sfHover ul,
ul.sf-menu li li:hover ul {
	left: 175px;
	top: 0;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important
}

ul.sf-menu li li.sfHover ul li:last-child,
ul.sf-menu li li:hover ul li:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

ul.sf-menu li li.sfHover li ul,
ul.sf-menu li li:hover li ul {
	top: -999em
}

ul.sf-menu li li li.sfHover ul,
ul.sf-menu li li li:hover ul {
	left: 175px;
	top: 0;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important
}

.sf-menu li:hover {
	outline: 0
}

.sf-menu li li a:hover {
	border-bottom: 0;
	text-decoration: none;
	color: #fff!important;
	-webkit-transition: none!important;
	-moz-transition: none!important;
	-o-transition: none!important;
	-ms-transition: none!important;
	transition: none!important
}

.sf-menu>li:hover {
	border: none!important;
	background: 0 0!important
}

.alt-nav {
	display: none
}

.sf-menu ul {
	background: #37485C;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px
}

.sf-menu ul:after {
	bottom: 100%;
	border: solid transparent;
	position: absolute;
	border-color: rgba(127, 140, 141, 0);
	border-bottom-color: #37485C;
	border-width: 10px;
	left: 17%;
	margin-left: -10px
}

.sf-menu ul li ul:after {
	bottom: 100%;
	border: 0
}

.features {
	padding: 0
}

.features.servers {
	padding: 40px 0 0;
	background: #fff
}

.features.premium-servers {
	padding: 50px 0;
	background: #535761
}

.features i {
	margin-bottom: 10px;
	font-size: 55px;
	color: #235588
}

.features h2 {
	font-weight: 900;
	margin-bottom: 12px
}

.features.premium-servers h2 {
	color: #d7d7d7
}

.features.premium-servers p {
	color: #ccc
}

.features ul li {
	padding: 50px 20px 20px;
	border: 1px solid #E0E0E0;
	border-left: 0;
	border-top: 0;
	min-height: 230px
}

.features ul li:nth-child(3n+3) {
	border-right: 0
}

.features ul li:nth-last-child(-n+3) {
	border-bottom: 0
}

.features ul li h3 {
	margin-bottom: 12px;
	font-size: 21px
}

.features1 {
	padding: 0
}

.features1.servers {
	padding: 40px 0 0;
	background: #fff
}

.features1.premium-servers {
	padding: 50px 0;
	background: #535761
}

.features1 i {
	margin-bottom: 10px;
	font-size: 55px;
	color: #235588
}

.features1 h2 {
	font-weight: 900;
	margin-bottom: 12px
}

.features1.premium-servers h2 {
	color: #d7d7d7
}

.features1.premium-servers p {
	color: #ccc
}

.features1 ul li {
	padding: 50px 20px 20px;
	border: 1px solid #235588;
	border-left: 0;
	border-top: 0;
	min-height: 230px
}

.features1 ul li:nth-child(2n+2) {
	border-right: 0
}

.features1 ul li:nth-last-child(-n+2) {
	border-bottom: 0
}

.features1 ul li h3 {
	margin-bottom: 12px;
	font-size: 21px
}

.google-ads h6 {
	margin: 0;
	padding: 0 0 20px;
	color: #333
}

.pricingboxes .title:after,
.terms-of-usage .title:after {
	top: 100%;
	left: 50%;
	margin-left: -8px
}

.google-ads .row {
	padding: 10px 0 20px
}

.terms-of-usage {
	padding: 50px 0 20px 0;
}

.pricingboxes .title,
.terms-of-usage .title {
	padding: 12px 0;
	letter-spacing: .07em;
	color: #fff;
	font-size: 17px;
	text-align: center
}

.terms-of-usage h2 {
	font-weight: 900;
	text-align: center;
	margin-bottom: 12px
}

.terms-of-usage .title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #65454c;
	font-weight: 800;
	margin-bottom: 15px;
	position: relative
}

.terms-of-usage .title:after {
	border: solid transparent;
	position: absolute;
	border-color: rgba(101, 69, 76, 0);
	border-top-color: #65454c;
	border-width: 8px
}

.pricingboxes {
	background: #EAEAEA
}

.pricingboxes h2 {
	font-weight: 900;
	text-align: center;
	margin-bottom: 12px
}

.pricingboxes p {
	text-align: center
}

.pricingboxes .title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #235588;
	font-weight: 800;
	margin-bottom: 15px;
	position: relative
}

.pricing-table .price,
.pricing-table .price span {
	color: #EAEAEA;
	font-weight: 900;
	background: #424242
}

.pricingboxes .title:after {
	border: solid transparent;
	position: absolute;
	border-color: rgba(101, 69, 76, 0);
	border-top-color: #235588;
	border-width: 8px
}

.pricing-table {
	border: 0;
	margin: 0 0 1.25em;
	padding: 0
}

.pricing-table * {
	list-style: none;
	line-height: 1
}

.pricing-table .price {
	text-align: center;
	padding: 12px 0 18px;
	font-size: 15px
}

.pricing-table .price span {
	font-size: 53px;
	display: block;
	padding: 10px 0
}

.pricing-table .bullet-item,
.pricing-table .description {
	font-weight: 400;
	border-bottom: solid 1px #302F2F;
	color: #fff;
	text-align: center
}

.pricing-table .description {
	background: #424242;
	padding: 32px 0;
	font-size: 17px;
	line-height: 1.4;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px
}

.pricing-table .bullet-item {
	background-color: #424242;
	padding: .9375em;
	font-size: 14px
}

.pricing-table .cta-button {
	background: #424242;
	text-align: center;
	padding: 8px 0;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px
}

.pricing-table .cta-button p {
	padding: 14px 0 8px
}

.pricing-table .cta-button span a {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	background: #3478AA;
	padding: 9px 27px;
	border-radius: 6px
}

.pricing-table .cta-button span a:hover {
	background: #37485c;
	text-decoration: none
}

.pricingboxes-comparison {
	padding: 0 0 50px;
	overflow: hidden;
	margin: 0 10px
}

.pricingboxes-comparison .title-alt:after,
.pricingboxes-comparison .title-features:after {
	top: 100%;
	left: 50%;
	height: 0;
	width: 0;
	pointer-events: none;
	margin-left: -8px;
	content: " "
}

.pricingboxes-comparison h2 {
	font-weight: 900;
	text-align: center;
	margin-bottom: 12px
}

.pricingboxes-comparison .title-alt,
.pricingboxes-comparison .title-features {
	padding: 12px 0;
	text-align: center;
	letter-spacing: .07em;
	color: #fff;
	font-weight: 800;
	font-size: 17px;
	margin-bottom: 15px
}

.pricingboxes-comparison p {
	text-align: center
}

.pricingboxes-comparison .title-alt {
	background: #3478AA;
	position: relative
}

.pricingboxes-comparison .title-alt:after {
	border: solid transparent;
	position: absolute;
	border-color: rgba(101, 69, 76, 0);
	border-top-color: #3478AA;
	border-width: 8px
}

.pricingboxes-comparison .title-features {
	background: #000;
	position: relative
}

.pricingboxes-comparison .title-features:after {
	border: solid transparent;
	position: absolute;
	border-color: rgba(101, 69, 76, 0);
	border-top-color: #000;
	border-width: 8px
}

.pricing-table.alter .description {
	border-radius: 0
}

.pricing-table.alter.features .bullet-item {
	background-color: #E5E5E5;
	text-align: left;
	color: #333;
	font-size: 14px;
	border-bottom: solid 1px #D7D7D7
}

.pricing-table.alter.features .bullet-item a {
	color: #666;
	cursor: pointer
}

.has-tip {
	border: none!important;
	padding: 0!important;
	margin: 0!important;
	font-weight: 400!important
}

.has-tip:hover {
	color: #000
}

.pricing-table.alter .bullet-item i {
	font-size: 12px
}

.pricing-table.alter .bullet-item i.fa-check,
.pricing-table.alter .bullet-item i.fa-times {
	color: #FFF
}

.pricing-table.alter .price {
	padding: 14px 0 20px
}

.pricing-table.alter .price span {
	font-size: 33px
}

.pricing-table.alter .price span sub {
	font-size: 14px;
	padding-left: 2px;
	font-weight: 400;
	text-shadow: none;
	top: 0;
	vertical-align: baseline;
	position: relative
}

.pricing-table.alter .cta-button {
	background: #262727;
	padding: 4px 0;
	border-radius: 0
}

.pricing-table.alter .cta-button p {
	padding: 14px 0 2px
}

.pricing-table.alter .cta-button span a {
	font-size: 14px;
	background: #3478AA;
	padding: 5px 17px;
	border-radius: 6px
}

.pricing-table.alter .cta-button span a:hover {
	background: #37485c;
	text-decoration: none
}

.sharedfeatures-odd {
	padding: 50px 0;
	background: #F8F8F8
}

.sharedfeatures-even h2,
.sharedfeatures-odd h2 {
	font-weight: 900;
	margin-bottom: 12px;
	font-size: 23px
}

.sharedfeatures-even .circle,
.sharedfeatures-odd .circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	z-index: 99999;
	position: relative;
	text-align: center;
	overflow: hidden
}

.sharedfeatures-odd i {
	color: #B86662;
	font-size: 100px
}

.sharedfeatures-odd .circle {
	background: #37485c;
	padding-top: 50px
}

.sharedfeatures-even {
	padding: 50px 0;
	overflow: hidden;
	background: #fff
}

.sharedfeatures-even i {
	color: #DBDBDB;
	font-size: 100px
}

.sharedfeatures-even .circle {
	background: #B86662;
	padding-top: 50px
}

.freehosting-order {
	padding: 50px 0 70px;
	overflow: hidden;
	margin: 0 10px
}

.freehosting-order h2 {
	font-weight: 900;
	text-align: center;
	margin-bottom: 12px
}

.freehosting-order h3 {
	font-weight: 900;
	font-size: 22px
}

.freehosting-order p {
	text-align: center
}

.freehosting-order img {
	margin: 0 auto
}

.freehosting-order .order-step {
	height: 40px;
	margin: 25px 0 20px
}

.freehosting-order .order-step .order-circle {
	position: relative;
	text-align: center
}

.freehosting-order .order-step .order-circle .line {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	height: 3px;
	background: #EDEDED;
	z-index: 1
}

.freehosting-order .order-step .order-circle .line.left-side {
	width: 50%;
	right: 0
}

.freehosting-order .order-step .order-circle .line.right-side {
	width: 50%;
	left: 0
}

.freehosting-order .order-step .order-circle span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	border-radius: 1000px;
	color: #fff;
	font-weight: 900;
	background: #000;
	z-index: 10
}

.freehosting-order .order-step .order-circle span.left-side {
	margin-right: 15px
}

.freehosting-order .order-step .order-circle span.right-side {
	margin-left: 15px
}

table.responsive {
	min-width: 100%;
	margin-top: 45px;
	overflow: hidden;
	border: 0!important;
	box-shadow: 1px 1px #4b4e57, 2px 2px #4b4e57, 3px 3px #4b4e57, 4px 4px #4b4e57, 5px 5px #4b4e57, 6px 6px #4b4e57, 7px 7px #4b4e58, 8px 8px #4c4f58, 9px 9px #4c4f58, 10px 10px #4c4f58, 11px 11px #4c4f58, 12px 12px #4c4f58, 13px 13px #4c4f59, 14px 14px #4c4f59, 15px 15px #4c5059, 16px 16px #4d5059, 17px 17px #4d5059, 18px 18px #4d5059, 19px 19px #4d5059, 20px 20px #4d505a, 21px 21px #4d505a, 22px 22px #4d515a, 23px 23px #4d515a, 24px 24px #4e515a, 25px 25px #4e515a, 26px 26px #4e515b, 27px 27px #4e515b, 28px 28px #4e515b, 29px 29px #4e525b, 30px 30px #4e525b, 31px 31px #4e525b, 32px 32px #4f525c, 33px 33px #4f525c, 34px 34px #4f525c, 35px 35px #4f525c, 36px 36px #4f535c, 37px 37px #4f535c, 38px 38px #4f535c, 39px 39px #4f535d, 40px 40px #50535d, 41px 41px #50535d, 42px 42px #50535d, 43px 43px #50545d, 44px 44px #50545d, 45px 45px #50545e, 46px 46px #50545e, 47px 47px #50545e, 48px 48px #51545e, 49px 49px #51545e, 50px 50px #51555e, 51px 51px #51555e, 52px 52px #51555f, 53px 53px #51555f, 54px 54px #51555f, 55px 55px #51555f, 56px 56px #52555f, 57px 57px #52565f, 58px 58px #525660, 59px 59px #525660, 60px 60px #525660, 61px 61px #525660, 62px 62px #525660, 63px 63px #525660, 64px 64px #535761
}

.flat-table {
	border-collapse: collapse;
	font-family: Lato, Calibri, Arial, sans-serif
}

.flat-table td,
.flat-table th {
	padding: .7em 1em .7em 1.15em;
	font-size: 16px;
	box-shadow: inset 0 -1px rgba(0, 0, 0, .05), inset 0 1px rgba(0, 0, 0, .05);
	color: #fff!important
}

.flat-table th {
	font-weight: 400;
	text-shadow: 0 0 1px rgba(0, 0, 0, .1)
}

.flat-table td {
	color: #fff;
	text-shadow: 0 0 1px rgba(255, 255, 255, .1)
}

table tr.alt,
table tr.even,
table tr:nth-of-type(even) {
	background: #353A45!important
}

.flat-table-1 {
	background: #3E434C
}

.flat-table th {
	background: #2F333E;
	color: #fff!important
}

.flat-table td span {
	background: #B86662;
	padding: 3px 7px 5px;
	border-radius: 5px
}

.flat-table td span:hover {
	background: #FD8875
}

.flat-table td span a {
	color: #fff;
	font-size: 12px
}

.flat-table td span a:hover {
	text-decoration: none
}

.tablesaw-stack tbody tr {
	border-bottom: 0!important
}

.about {
	padding: 50px 0;
	overflow: hidden
}

.about h2 {
	text-align: center;
	font-weight: 900
}

.about p {
	text-align: center
}

.about ul {
	margin-top: 50px
}

.about ul li {
	margin-bottom: 30px
}

.about ul p {
	font-size: 15px;
	font-weight: 400;
	text-align: left
}

.about ul h3 {
	font-size: 18px;
	padding: 11px 0;
	margin: 0 0 5px;
	font-weight: 400;
	color: #000
}

.profile-blurb {
	clear: both;
	border-bottom: 1px solid #e4e4e4;
	padding: 20px 0;
	overflow: hidden
}

.profile-sanp {
	float: left;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #989898;
	background: #f5f5f5;
	padding: 15px 10px
}

.profile-sanp img {
	border: 1px solid #fff
}

.profile-content {
	margin-left: 182px
}

.profile-title {
	font-size: 18px;
	font-weight: 700;
	color: #3c3c3c
}

.profile-note {
	color: grey;
	font-weight: 700;
	font-size: 13px
}

.icon-blog,
.icon-in,
.icon-twitter {
	background: url(/getImage.php?src=social-icon.jpg) no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-indent: -9999em
}

.contact-details ul li span,
.contacts i,
.signup-details ul li span {
	display: block
}

.icon-blog {
	background-position: -30px top
}

.icon-twitter {
	background-position: -60px top
}

p {
	padding-left: 0
}

</style>.support-subheader {
	padding: 50px 0;
	overflow: hidden
}

.support-subheader h2 {
	text-align: center;
	font-weight: 900
}

.support-subheader p {
	text-align: center
}

.supportchannels {
	padding: 0
}

.supportchannels h3 {
	font-size: 21px;
	text-align: left
}

.supportchannels p {
	text-align: left
}

.timeline-content {
	padding: 65px 0
}

.timeline-content .email.button {
	background: 0 0;
	border: 1px solid #DE6724;
	color: #DE6724;
	font-weight: 700
}

.timeline-content .email.button:hover {
	background: #DE6724;
	color: #fff;
	text-decoration: none
}

.timeline-content .chat.button {
	background: 0 0;
	border: 1px solid #589DA8;
	color: #589DA8;
	font-weight: 700
}

.timeline-content .chat.button:hover {
	background: #589DA8;
	color: #fff;
	text-decoration: none
}

.timeline-content .phone.button {
	background: 0 0;
	border: 1px solid #4F6366;
	color: #4F6366;
	font-weight: 700
}

.timeline-content .phone.button:hover {
	background: #4F6366;
	color: #fff;
	text-decoration: none
}

.timeline-content .ticket.button {
	background: 0 0;
	border: 1px solid #E2574C;
	color: #E2574C;
	font-weight: 700
}

.timeline-content .ticket.button:hover {
	background: #E2574C;
	color: #fff;
	text-decoration: none
}

.timeline-content .tweet.button {
	background: 0 0;
	border: 1px solid #4C9AD6;
	color: #4C9AD6;
	font-weight: 700
}

.timeline-content .tweet.button:hover {
	background: #4C9AD6;
	color: #fff;
	text-decoration: none
}

.line {
	border-left: 3px solid #DDD;
	position: relative
}

.line .roundimg {
	position: absolute;
	top: 75px;
	right: 40px;
	width: 100%;
	max-width: 100%;
	height: auto
}

.line .roundimg img {
	border: 7px solid #fff
}

.timeline-content img.imgpaddingright {
	padding-right: 50px
}

.typography-subheader {
	padding: 50px 0
}

.hosting-features {
	padding: 50px 0;
	overflow: hidden
}

.hosting-features h2 {
	text-align: center;
	font-weight: 900
}

.hosting-features .title-alt,
.hosting-features .title-features {
	padding: 12px 0;
	text-align: center;
	color: #fff;
	font-weight: 800;
	font-size: 17px;
	letter-spacing: .07em
}

.hosting-features p {
	text-align: center
}

.hosting-features .title-alt {
	background: #65454c
}

.hosting-features .title-features {
	background: #b86662
}

.hostingfeatures-list {
	overflow: hidden
}

ul.hostingfeatures {
	margin: 0
}

ul.hostingfeatures li {
	background: #F0F0F0;
	padding: 20px;
	border: 5px solid white;
}

ul.hostingfeatures p {
	font-size: 15px;
	font-weight: 400;
	text-align: left
}

ul.hostingfeatures h3 {
	font-size: 20px;
	padding: 20px 0;
	margin: 0 0 5px;
	font-weight: 400;
	color: #000;
	text-align: center
}

ul.hostingfeatures li i {
	color: #fff;
	font-size: 44px
}

ul.hostingfeatures li .circle {
	overflow: hidden;
	width: 80px;
	height: 80px;
	background: #335272;
	padding-top: 17px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	text-align: center
}

#contactform input[type=text],
#signupform #submit,
#signupform button,
#signupform input {
	height: 45px
}

#contactform #submit,
#signupform #submit {
	background: #63A7ED;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	cursor: pointer
}

#contactform #submit:hover,
#signupform #submit:hover {
	background: #275E98
}

.signup-section {
	padding: 50px 0
}

.signup-details h4 {
	color: #4B4854;
	margin-top: 75px;
	font-size: 18px;
	padding: 0;
	letter-spacing: .07em;
	position: relative;
	font-weight: 900
}

.signup-details ul {
	list-style: none;
	margin: 0;
	padding: 4px 0
}

.signup-details ul li {
	padding: 7px 0;
	border-bottom: 1px solid;
	border-color: #ecedee;
	font-weight: 600;
	letter-spacing: .07em;
	font-size: 12px;
	text-align: left
}

#signupform #submit,
#signupform button,
#signupform input,
#signupform textarea {
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	font-size: 15px;
	width: 100%
}

#signupform #submit,
.contact-details h4 {
	font-weight: 900
}

#signupform button,
#signupform input,
#signupform textarea {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 8px 0 18px;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1)
}

#signupform #submit {
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	float: left;
	color: #fff;
	padding: 6px;
	border-radius: 4px;
	border: 0;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.contact-section {
	padding: 20px 0
}

.contact-details h4 {
	color: #4B4854;
	margin-top: 75px;
	font-size: 18px;
	padding: 0;
	letter-spacing: .07em;
	position: relative
}

.contact-details ul {
	list-style: none;
	margin: 0;
	padding: 4px 0
}

.contact-details ul li {
	padding: 7px 0;
	border-bottom: 1px solid;
	border-color: #ecedee;
	font-weight: 600;
	letter-spacing: .07em;
	font-size: 12px;
	text-align: left
}

#back-to-top,
.contacts,
p.copyright {
	text-align: center
}

.contact-details ul li:last-child {
	border-bottom: 0
}

#contactform input[type=text],
#contactform textarea {
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	margin: 8px 0 18px;
	font-size: 15px;
	width: 100%;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1)
}

.contact-details ul li a {
	color: #303038
}

.contact-details ul li a:hover {
	color: #3F3FF6;
	text-decoration: none
}

.contacts,
.contacts a {
	color: #fff
}

#gmap iframe {
	height: 450px;
	margin-bottom: 50px;
	width: 100%
}

#sendstatus {
	margin: 0
}

#contactform #submit {
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
	float: left;
	font-size: 15px;
	height: 45px;
	color: #fff;
	font-weight: 900;
	padding: 6px;
	width: 100%;
	border-radius: 4px;
	border: 0;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

footer {
	padding: 50px 0 15px;
	background: #2E3138
}

.contacts {
	padding-bottom: 30px;
	font-size: 14px;
	font-weight: 300
}

.contacts a:hover {
	text-decoration: none;
	color: #C5645B
}

.contacts i {
	font-size: 33px;
	font-weight: 400;
	margin-bottom: 12px
}

.footerlinks {
	padding: 0;
	border-top: 4px double #FFF;
	border-bottom: 4px double #fff;
	overflow: hidden
}

.footerlinks .border-right {
	border-right: 1px solid #FFF
}

.footerlinks .columns {
	padding: 20px 0 20px 50px
}

.footerlinks h2 {
	font-size: 17px;
	color: #fff;
	padding: 0;
	margin: 0 0 20px;
	font-weight: 900
}

.footerlinks ul {
	padding: 0;
	margin: 0;
	list-style: none
}

.footerlinks ul li {
	padding: 4px 0;
	font-size: 14px;
	color: #ccc
}

.footerlinks ul li a {
	color: #ccc
}

.footerlinks ul li a:hover {
	color: #EDFB69;
	text-decoration: none
}

.footerlinks p {
	color: #ccc;
	font-size: 14px
}

.footerlinks hr {
	border: solid #494B4C;
	border-width: 7px 0 0;
	clear: both;
	margin: 11px 0;
	height: 0
}

#mc-embedded-subscribe-form {
	padding: 0!important;
	margin: 0!important
}

#mc-embedded-subscribe-form input.email {
	width: 100%!important
}

#mc-embedded-subscribe-form input.button {
	float: left;
	background: #63A7ED;
	margin-top: 6px;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	padding: 11px;
	text-transform: uppercase;
	width: 100%!important;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#mc-embedded-subscribe-form input.button:hover {
	background: #0F4F96
}

p.copyright {
	font-size: 12px;
	padding: 35px 0 0;
	margin: 0;
	color: #ccc
}

#back-to-top {
	color: #fff;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	display: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 2px;
	height: 29px;
	width: 29px;
	background-color: rgba(0, 0, 0, .4);
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-webkit-transition: background-color .1s linear;
	-o-transition: background-color .1s linear
}

#back-to-top i {
	padding-top: 4px;
	font-size: 17px
}

#back-to-top:hover {
	background: #B86662;
	background: rgba(184, 102, 98, .7)
}

@media only screen and (max-width:719px) {
	.message-intro,
	.message-intro p {
		margin: 0 auto;
		text-align: center
	}
	.footerlinks .border-right,
	.social ul li {
		border-right: 0
	}
	.js nav.desktop-menu {
		display: none
	}
	.js .slicknav_menu {
		display: block
	}
	header .message {
		top: 100px
	}
	.message-intro span.message-line {
		display: none
	}
	.message-intro {
		padding-bottom: 0;
		font-size: 15px;
		letter-spacing: 0;
		width: 100%;
		display: table
	}
	header .message h1 {
		font-size: 30px;
		margin: 0
	}
	header .message .button {
		margin-top: 30px
	}
	.logo {
		text-align: center
	}
	.features ul li {
		border: 0
	}
	.top {
		position: relative;
		z-index: 0
	}
	.google-ads h2,
	.testimonials h2 {
		font-size: 33px
	}
	.whoclient span {
		font-size: 12px
	}
	.testimonial-content p {
		padding: 15px
	}
	.contacts .columns {
		margin-bottom: 20px;
		border-bottom: 1px double #37485c;
		padding-bottom: 15px
	}
	.footerlinks {
		border: 0
	}
	.footerlinks .columns {
		padding: 0;
		margin-bottom: 35px;
		text-align: center
	}
	.footerlinks h2 {
		margin: 0 0 8px
	}
	.social {
		margin-top: 0
	}
	.social ul li {
		margin-bottom: 1px;
		width: 100%
	}
	.columns.hostingfeatures {
		display: none
	}
	.pricing-table.alter .bullet-item i {
		margin-bottom: 6px
	}
	.pricingboxes-comparison .title-alt {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px
	}
	.pricing-table.alter li.bullet-item:first-child {
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px
	}
	.pricing-table.alter .cta-button {
		-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px
	}
	.dedicated-servers-features ul li img {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 12px
	}
	.domainsearch input[type=text],
	.domainsearch select {
		font-size: 15px;
		padding: 6px;
		margin-bottom: 6px;
		height: 40px;
		border-radius: 5px
	}
	.flat-table td span {
		width: 100%;
		display: block;
		text-align: center
	}
	.domainsearch {
		margin-top: 20px
	}
	.domainsearch select {
		border-left: 0
	}
	.domainsearch input[type=submit] {
		font-size: 14px;
		height: 40px;
		border-radius: 5px
	}
	.domain-prices .title-alt,
	.domain-prices .title-features {
		letter-spacing: 0;
		font-size: 11px
	}
	.pricing-table.domains.tld .bullet-item {
		font-size: 12px
	}
	.pricing-table.domains .bullet-item {
		padding: .65em;
		font-size: 12px
	}
	.timeline-content {
		padding: 15px 0;
		text-align: center
	}
	.supportchannels h3,
	.supportchannels p {
		text-align: center
	}
	.timeline-content img.imgpaddingright {
		padding-right: 0;
		display: block;
		text-align: center
	}
	.supportchannels {
		padding: 15px 0;
		border-bottom: 3px solid #d7d7d7
	}
}

@media only screen and (min-width:720px) and (max-width:959px) {
	.sf-menu a {
		font-size: 13px;
		letter-spacing: 0;
		padding: 6px 10px 8px
	}
	.logo {
		margin-top: 23px
	}
	.sf-menu li.sfHover ul,
	.sf-menu li:hover ul {
		top: 78px;
		width: 135px
	}
	header .message .button {
		margin-top: 30px
	}
	header .message {
		top: 100px
	}
	.message-intro {
		margin-bottom: 20px
	}
	header .message h1 {
		margin-top: 0
	}
	.features ul li {
		min-height: 315px
	}
	.features ul li h3 {
		margin-bottom: 10px;
		font-size: 18px
	}
	.features ul li p {
		font-size: 15px
	}
	.footerlinks .columns {
		padding: 20px 0 20px 10px
	}
	.pricing-table .price span {
		font-size: 33px
	}
	.pricing-table .cta-button span a {
		font-size: 14px;
		padding: 9px 17px;
		border-radius: 6px
	}
	.flat-table td span {
		display: block;
		text-align: center
	}
	.flat-table td,
	.flat-table th {
		font-size: 13px;
		padding: .7em
	}
	.line .roundimg {
		right: 30px
	}
	ul.domainfeatures li i {
		font-size: 30px
	}
	ul.domainfeatures li .circle {
		width: 60px;
		height: 60px;
		padding-top: 13px
	}
}
@media only screen and (max-width: 767px) and (min-width: 720px){
header .message {top: 190px;}
}
@media only screen and (min-width:960px) and (max-width:1025px) {
.line .roundimg {right: 43px;}
}
.share {
	margin-top: 5px;
	padding: 8px;
	position: fixed;
	top: 33%;
	border: 1px solid #E7E7DD;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	width: 55px
}
.share .fb_share {
	margin-top: 6px;
	margin-left: 3px;
	position: relative
}
.share .plusone,
.share .tweets {
	margin-top: 6px
}
.domain-searchbox {
	padding: 18px 0 14px;
	margin-top: 30px;
	width: 80%;
	margin-left: 10%
}
.search-input {
	background: 0 0;
	padding: 15px;
	border: 1px solid #9aa2a7
}
.domain-searchbox input {
	margin-left: 5%;
	width: 99%;
	height: 43px;
	margin-bottom: 0
}
.domain-extension {
	cursor: pointer;
	background: #fff;
	margin-left: 10%;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	border: 1px solid #9aa2a7
}
.domain-extension select {
	color: #000;
	background: 0 0;
	z-index: 2;
	height: 42px;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	box-shadow: none;
	border: 0;
	border-radius: 0
}
.topnav {
	overflow: hidden;
	background-color: #235588;
	width: 70%;
	height: 170px;
	margin-left: 15%;
	border-radius: 10px
}
.topnav input[type=text] {
	padding: 6px;
	margin-top: 40px;
	font-size: 17px;
	border: none;
	width: 60%;
	float: left;
	margin-left: 12%
}
.topnav .search-container button {
	float: left;
	padding: 6px 50px;
	margin-top: 40px;
	height: 37px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer
}
.topnav .search-container button:hover {
	background: #ccc
}
@media screen and (max-width:600px) {
	.topnav .search-container {
		float: none
	}
	.topnav .search-container button,
	.topnav a,
	.topnav input[type=text] {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px
	}
	.topnav input[type=text] {
		border: 1px solid #ccc
	}
}
.slicknav_nav a {
	font-size: 16px;
	padding: 5px 10px;
	margin: 2px 5px;
	text-decoration: none;
	color: #fff
}
.pricingboxes .heading-block {
	color: #fff;
	position: relative;
	padding: 40px 0 0;
	text-align: center
}
@media only screen and (max-width:991px) {
	.pricingboxes .heading-block .heading {
		font-size: 18px;
		padding: 15px 0;
		line-height: 22px
	}
	.pricingboxes .price-box {
		height: 90px
	}
}
.pricingboxes .heading-block .heading {
	display: block;
	background: #3478AA;
	padding: 24px 0 25px;
	text-transform: capitalize;
	font: 300 24px/28px Oxygen, sans-serif
}
.pricingboxes .item-list,
.pricingboxes .item-list li {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}
.pricingboxes .heading-block .heading span {
	font-weight: 700;
	text-transform: uppercase
}
.pricingboxes .price-box {
	height: 120px;
	position: relative;
	background: #323232;
	padding: 10px 0 17px
}
.pricingboxes .price-box .price-holder {
	width: 100%;
	height: 100%;
	display: table
}
.pricingboxes .price-box .price-frame {
	display: table-cell;
	vertical-align: middle;
}
@media only screen and (max-width:991px) {
	.pricingboxes .price-box .price-free {
		font-size: 20px;
		line-height: 24px;
	}
}
.pricingboxes .price-box .price-free {
	display: block;
	margin: 0 0 4px;
	font-size: 40px;
	font-weight: 600;
	line-height: 30px;
}
.pricingboxes .popular1 .price-box :before {
	content: " ";
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #3478AA;
	position: absolute;
	bottom: 105px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.pricingboxes .popular .price-box :before {
	content: " ";
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 13px solid #323232;
	position: absolute;
	bottom: 110px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%)
}

@media only screen and (max-width:767px) {
	.pricingboxes .col-holder {
		height: auto!important
	}
}

.pricingboxes .col-holder {
	overflow: hidden;
	background: #fff;
	position: relative;
	padding: 26px 0 50px
}

@media only screen and (max-width:1199px) {
	.pricingboxes .item-list {
		font-size: 13px
	}
}

.pricingboxes .item-list {
	font-size: 16px;
	font-weight: 300;
	overflow: hidden;
	line-height: 35px;
	margin-left: 0
}

.pricingboxes .item-list li {
	min-height: 36px;
	position: relative;
	line-height: 30px;
	padding: 0 50px
}

.pricingboxes .item-list li i {
	font-size: 16px;
	color: #3AAD58;
	margin-right: 5px
}

.pricingboxes .btn-box {
	left: 0;
	right: 0;
	margin-top: 40px;
	padding: 0 20px;
	text-align: center
}

@media only screen and (max-width:991px) {
	.pricingboxes .btn-box .btn-primary {
		font-size: 14px;
		min-width: inherit;
		padding: 10px 20px;
		color: #fff;
		font-weight: 600;
		position: relative;
		background: #3AAD58;
		border-color: #3478AA
	}
	.pricingboxes .btn-box .btn-primary i {
		font-size: 17px;
		color: #fff;
		margin-left: 5px
	}
}

@media (min-width:1281px) {
	.pricingboxes .btn-box .btn-primary {
		min-width: 219px;
		text-align: center;
		line-height: 20px;
		text-decoration: none;
		border-radius: 5px;
		padding: 10px 20px;
		border: 0 #3478AA;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		position: relative;
		background: #3AAD58;
		transition: all .3s ease-in-out
	}
}

@media (min-width:1025px) and (max-width:1280px) {
	.pricingboxes .btn-box .btn-primary {
		min-width: 219px;
		text-align: center;
		line-height: 20px;
		text-decoration: none;
		border-radius: 5px;
		padding: 10px 20px;
		border: 0 #3478AA;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		position: relative;
		background: #3AAD58;
		transition: all .3s ease-in-out
	}
}

@media (min-width:768px) and (max-width:1024px) {
	.pricingboxes .btn-box .btn-primary {
		min-width: 219px;
		text-align: center;
		line-height: 20px;
		text-decoration: none;
		border-radius: 5px;
		padding: 10px 20px;
		border: 0 #3478AA;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		position: relative;
		background: #3AAD58;
		transition: all .3s ease-in-out
	}
}

.pricingboxes .btn-box .btn-primary i {
	font-size: 17px;
	color: #fff;
	margin-left: 5px
}

.pricingboxes .columns.popular .heading-block {
	padding: 0
}

.pricingboxes .columns.popular .heading-block .heading {
	color: #fff;
	background: #3478AA;
	padding: 55px 0 34px
}

.pricingboxes .columns.popular .tooltip1 {
	top: -14px;
	left: 50%;
	opacity: 1;
	width: 124px;
	height: 32px;
	color: #fff;
	font-weight: :500;
	font-size: 12px;
	padding: 0 10px;
	line-height: 32px;
	margin-left: -61px;
	border-radius: 2px;
	position: absolute;
	text-align: center;
	background: #3AAD58;
	text-transform: uppercase
}

.pricingboxes .columns.popular .tooltip1:after {
	content: " ";
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #3AAD58;
	position: absolute;
	bottom: -14px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.pricingboxes .column:first-child .price-box:after {
	margin-left: -32px
}

@media only screen and (max-width:991px) {
	.columns.popular .heading-block .hosting-price {
		font-size: 25px;
		line-height: 20px
	}
	.pricingboxes .col-holder .price-box1 {
		height: 90px;
		text-align: center
	}
}

.columns.popular .heading-block .hosting-price {
	display: block;
	font-size: 40px;
	font-weight: 600;
	padding: 2px 7px;
	line-height: 30px
}

.pricingboxes .col-holder .price-box1 {
	position: relative;
	text-align: center
}

.pricingboxes .col-holder .price-box1 .price-holder {
	width: 100%;
	height: 100%;
	display: table
}

.pricingboxes .col-holder.price-box1 .price-frame {
	display: table-cell;
	vertical-align: middle
}

@media only screen and (max-width:991px) {
	.pricingboxes .col-holder .price-box1 .price-free {
		font-size: 20px;
		line-height: 24px
	}
}

.pricingboxes .col-holder .price-box1 .price-free {
	display: block;
	margin: 0 0 4px;
	font-size: 40px;
	font-weight: 600;
	line-height: 30px
}

@media (max-width:900px) {
	.med {
		width: 100%;
		float: left
	}
}

@media (min-width:456px){.story .story-left .story-text{text-align:right;margin-right:130px}.story .story-right .story-text{text-align:left;margin-left:130px}.story-block .story-image img{position:absolute;top:50%;border:4px solid #eef0f1;border-radius:50%;margin-top:-50px}.story .story-left .story-image img{right:30px}.story .story-right .story-image img{left:30px}}@media (max-width:1151px) and (min-width:993px){.story-block{width:100%}}.story .story-left,.story .story-right{position:relative;margin-bottom:40px;border-right:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0}.story .story-left .story-text h4,.story .story-left .story-text p{text-align:right}.story .story-right .story-text h4,.story .story-right .story-text p{text-align:left}@media (max-width:455px){.story .story-left .story-text h4,.story .story-left .story-text p,.story .story-right .story-text h4,.story .story-right .story-text p{text-align:center}.story .story-left .story-text,.story .story-right .story-text{margin-right:0}.story-block .story-image img{position:relative;top:0;border:4px solid #eef0f1;border-radius:50%;margin-top:0}.story .story-image{text-align:center}.story .story-left .story-image img{left:0}.story .story-right .story-image img{right:0}}.story-block{display:block;position:relative;background:#fff;padding:20px 25px 17px;border-radius:5px;transition:all .25s ease-in-out}@media (min-width:1150px){.story-block .story-image img{width:90px;height:90px}.story .story-left .h-line{position:absolute;width:2px;height:100%;background:#ddd;right:-45px;top:0}.story .story-left:after{position:absolute;width:18px;height:18px;background:#34b1c4;content:'';right:-54px;top:50%;margin-top:-12px;border-radius:50%;border:5px solid #fff}.story-block{width:90.5%}}

@media (min-width:768px) {
	.switchable .container>.row {
		flex-flow: row-reverse
	}
}

.switchable {
	padding: 50px 0
}

.switchable .switchable-text {
	margin-top: 1.85714286em
}

@media screen and (max-width:400px) {
	.boxed {
		padding: 30px;
		border: 1px solid #ececec
	}
}

@media (min-width:401px) {
	.boxed {
		padding: 39px;
		border: 1px solid #ececec
	}
}

.boxed .feature-2 {
	margin-bottom: 20px;
	overflow: hidden
}

.boxed .feature-2 i {
	width: 20%;
	float: left;
	line-height: 1em;
	font-size: 40px;
	color: #4a90e2
}

.boxed .feature-2 .feature-body {
	width: 80%;
	float: right
}

@media screen and (max-width: 600px) {
	.message-intro {
		white-space: normal;
	}
}

#pa {
	vertical-align: middle;
	padding-bottom: 30px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
	#col {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width: 600px) {
	#pa {
		font-size: 14px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media screen and (max-width:1050px) {
	.nav-top-txt {
		display: none
	}
}

@media screen and (max-width:1050px) {
	.nav-top-txt {
		top: 8px;
		font-size: 8px
	}
}

.nav-top-txt {
	display: block;
	position: absolute;
	top: 12px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 1em
}

@media screen and (max-width:1050px) {
	.nav-top-txt span {
		padding: 0 5px;
		border-radius: 2px
	}
}

.nav-top-red {
	margin-left: 30px;
}
.nav-top-red span {
	background: #c83c57;
}
.nav-top-txt span {
	padding: 2px 6px;
	border-radius: 3px;
}
.earn span {
	background: #3AAD58;
}
@media (min-width:1281px) {
	.earn {
		margin: 0 25px;
	}
}

@media (min-width:1025px) and (max-width:1280px) {
	.earn {
		margin-left: 25px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.earn {
		margin-left: 25px;
	}
}

@media (min-width: 720px) and (max-width: 767px) {
	.earn {
		margin-left: 25px;
	}
}

.slicknav_nav li span.paid {
    background: #c83c57;
}
.slicknav_nav li span {
    background: #3AAD58;
    margin-left: 10px;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 3px;
}
#banner-12345,
#banner-12346,
#banner-12347 {
	display: none;
	margin-bottom: 30px;
	padding: 20px 10px;
	border-radius: 5px;
	background: #f4f4f4;color: #444;
	text-align: center;
}
#banner-12345 a, #banner-12346 a, #banner-12347 a{font-size:18px;text-decoration:none;}
.earn span {
    background: #3AAD58;
}
body{background:white;}
.faq .accordion {
  background-color: #eee;font-family: 'Lato', Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;text-transform:uppercase;font-weight:500;
}
@media screen and (max-width:600px){
  .faq button.accordion{font-size:13.33333px;line-height:15px;}
}
.faq .active, .accordion:hover {
  background-color: #ccc;
}
.faq .active, .accordion:focus {
  background-color:#005C97;color:white;
}
.faq .accordion:after {
  content: '\002B';
  color: white;
  float: right;font-size:12px;line-height:14px;
  margin-left: 5px;background:#005C97;border-radius:50%;padding:2px 2px;
}

.faq .active:after {
  content: "\2212"; color: white;
}
.faq .active + .faq .panel1 {
  max-height:400px;
  transition: max-height .25s ease;
}

.faq .panel1 {font-size: 17px;font-family: 'Lato', Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    text-align: justify;color:#666;
  padding:0px 18px;margin-bottom:30px;
  background-color:white;
  max-height: 0;font-weight:500;
  overflow: hidden;text-align:left;
  transition: max-height 0.2s ease-out;
}
.faq .panel1 p{font-size: 17px;font-family: 'Lato', Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;padding-top:20px;padding-bottom:20px;
    text-align: justify;text-align:left;}
.faq{background:white;}
@media (min-width: 981px){
  .faq h2{margin-bottom: 4.758%;}
}
@media (max-width: 980px){
   .faq h2{margin-bottom: 30px;}
}
.faq button.accordion1 {
  cursor: pointer;
    margin: 0px 0px;
    padding: 15px;
    font-size: 18px!important;
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid #e7e7e7;
    background: url(../Images/icons/whatweareupto-arrow.png) no-repeat 98% 20px;
    background-color: #2e3e50;
    text-align: left;width: 100%;
}
.faq .active1, .faq button.accordion1:hover {
  background-color:#008cba;border-bottom: none; background: #008cba url(../Images/icons/whatweareupto-arrow1.png) no-repeat 98% 20px;
}
.faq .active1, .faq button.accordion1:focus {
  background-color:#008cba;color:white; background: #008cba url(../Images/icons/whatweareupto-arrow1.png) no-repeat 98% 20px;border:transparent;
}
.faq .active1 {
    background: #008cba url(../Images/icons/whatweareupto-arrow1.png) no-repeat 98% 20px;
    border:transparent;
}
.faq .content-new {
    background: #005575;
  font-size:17px;color:white;
}
.faq .content-new p{text-align:left;padding:20px;color:white;font-size:17px;}
.faq .active1 + .faq .content-new {
  max-height:400px;
  transition: max-height .25s ease;
}

.faq .content-new {font-size: 17px;font-family: 'Lato', Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    text-align: justify;color:#666;
  max-height: 0;font-weight:500;
  overflow: hidden;text-align:left;
  transition: max-height 0.2s ease-out;
}
.tbl tr:nth-of-type(even) {
    background: white!important;
}
@media screen and (max-width:800px){#pa {
    font-size: 14px;
}}
.sf-menu .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color:#3f3f3f;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sf-menu .dropdown .dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;color:white;
  text-align: left;text-transform:none;
}

.sf-menu .dropdown .dropdown-content a:hover {
  background-color: #2f85ea;border-radius:0px;
}
.sf-menu .dropdown:hover .dropdown-content {
  display: block;
}
 .slicknav_nav .mobile-menu1 {margin:0;}   
.mobile-menu1 .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.mobile-menu1 .dropbtn:focus {
background:transparent;
}
.mobile-menu1 .dropdown-content {
  border:1px solid white;margin:0 10px;
}

.mobile-menu1 .dropdown-content a {
   float: none;
color: white;
padding: 9px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.mobile-menu1 .show {
  display: block;
}